{% load static i18n widget_tweaks %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Christian Moser">
        <title>Grow</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid h-100">
            <div class="row bg-success text-white px-4">
                <span class="display-5">Grow</span>
            </div>

            <div class="row mt-4">

                <div class="col-md-6 d-flex mx-auto">
                    <div class="card mx-auto my-auto p-4 rounded bg-dark" style="width:30rem">
                        <div class="card-body bg-dark py-6">
                            <div class="d-flex flex-column text-center">
                                <h1 class="h3 text-white mb-3">{% translate "Log in to your account" %}</h1>

                                <form method="POST" class="mb-4 text-reset">
                                    {% csrf_token %}
                                    {% translate "Email address" as email_label %}
                                    <div class="form-floating mb-3">
                                        {% render_field form.login class="form-control" placeholder=email_label %}
                                        <label for="{{ form.login.id_for_label }}">{{ email_label }}</label>
                                    </div>
                                    {% translate 'Password' as password_label %}
                                    <div class="form-floating mb-3">
                                        {% render_field form.password class="form-control" placeholder=password_label %}
                                        <label class="text-black" for="{{ form.password.id_for_label }}">{{ password_label }}</label>
                                    </div>
                                    <div class="mb-3 text-white">
                                        {% render_field form.remember class="input-checked" %}
                                        <label class="input-checked-label" for="{{ form.remember.id_for_label }}">{{ form.remember.label }}</label>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-success">{% translate "Log me in" %}</button>
                                    </div>
                                </form>
                                {% if SOCIALACCOUNT_ENABLED %}
                                <div class="d-flex flex-column text-center text-white">
                                    {% include "socialaccount/snippets/login.html" %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <footer class="fixed-bottom bg-success text-white py-2 px-4 fs-5 d-flex justify-content-between">
                    <div><a class="text-reset fw-bold text-decoration-none">django-grow</a></div>
                    <div>&copy; 2025 - 2026 Christian Moser</div>
                </footer>
            </div>
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</html>
