{% load i18n %}
<table style="width:100%;">
    <thead>
        <tr>
            <th>
                <a hx-get="{% url 'grow:hx-my-seeds-in-stock' %}?sort=strain{% if sis_sort == 'strain' %}{% if sis_ordering == 'asc' %}&ord=desc{% else %}&ord=asc{% endif %}{% else %}&ord=asc{% endif %}"
                   hx-swap="innerHTML"
                   hx-target="{{ sis_hx_target }}"
                >
                    {% translate "Strain" %}
                    {% if sis_sort == 'strain' %}
                        {% if sis_ordering == 'asc' %}
                            [ASC]
                        {% else %}
                            [DESC]
                        {% endif %}
                    {% endif %}
                </a>
            </th>
            <th>
                <a hx-get="{% url 'grow:hx-my-seeds-in-stock' %}?sort=breeder{% if sis_sort == 'breeder' %}{% if sis_ordering == 'asc' %}&ord=desc{% else %}&ord=asc{% endif %}{% else %}&ord=asc{% endif %}"
                   hx-swap="innerHTML"
                   hx-target="{{ sis_hx_target }}"
                >
                    {% translate "Breeder" %}
                    {% if sis_sort == 'breeder' %}
                        {% if sis_ordering == 'asc' %}
                            [ASC]
                        {% else %}
                            [DESC]
                        {% endif %}
                    {% endif %}
                </a>
            </th>
            <th>
                <a hx-get="{% url 'grow:hx-my-seeds-in-stock' %}?sort=purchased_on{% if sis_sort == 'purchased_on' %}{% if sis_ordering == 'asc' %}&ord=desc{% else %}&ord=asc{% endif %}{% else %}&ord=asc{% endif %}"
                   hx-swap="innerHTML"
                   hx-target="{{ sis_hx_target }}"
                >
                    {% translate "Purchased On" %}
                    {% if sis_sort == 'purchased_on' %}
                        {% if sis_ordering == 'asc' %}
                            [ASC]
                        {% else %}
                            [DESC]
                        {% endif %}
                    {% endif %}
                </a>
            </th>
            <th>
                <a hx-get="{% url 'grow:hx-my-seeds-in-stock' %}?sort=genotype{% if sis_sort == 'genotype' %}{% if sis_ordering == 'asc' %}&ord=desc{% else %}&ord=asc{% endif %}{% else %}&ord=asc{% endif %}"
                   hx-swap="innerHTML"
                   hx-target="{{ sis_hx_target }}"
                >
                    {% translate "Genotype" %}
                    {% if sis_sort == 'genotype' %}
                        {% if sis_ordering == 'asc' %}
                            [ASC]
                        {% else %}
                            [DESC]
                        {% endif %}
                    {% endif %}
                </a>
            </th>
            <th>
                <a hx-get="{% url 'grow:hx-my-seeds-in-stock' %}?sort=flowering_time{% if sis_sort == 'flowering_time' %}{% if sis_ordering == 'asc' %}&ord=desc{% else %}&ord=asc{% endif %}{% else %}&ord=asc{% endif %}"
                   hx-swap="innerHTML"
                   hx-target="{{ sis_hx_target }}"
                >
                    {% translate "Flowering time" %}
                    {% if sis_sort == 'flowering_time' %}
                        {% if sis_ordering == 'asc' %}
                            [ASC]
                        {% else %}
                            [DESC]
                        {% endif %}
                    {% endif %}
                </a>
            </th>
            <th>
                <a hx-get="{% url 'grow:hx-my-seeds-in-stock' %}?sort=growlogs{% if sis_sort == 'growlogs' %}{% if sis_ordering == 'asc' %}&ord=desc{% else %}&ord=asc{% endif %}{% else %}&ord=asc{% endif %}"
                   hx-swap="innerHTML"
                   hx-target="{{ sis_hx_target }}"
                >
                    {% translate "Own Growlogs" %}
                    {% if sis_sort == 'growlogs' %}
                        {% if sis_ordering == 'asc' %}
                            [ASC]
                        {% else %}
                            [DESC]
                        {% endif %}
                    {% endif %}
                </a>
            </th>
            <th>
                <a hx-get="{% url 'grow:hx-my-seeds-in-stock' %}?sort=quantity{% if sis_sort == 'quantity' %}{% if sis_ordering == 'asc' %}&ord=desc{% else %}&ord=asc{% endif %}{% else %}&ord=asc{% endif %}"
                   hx-swap="innerHTML"
                   hx-target="{{ sis_hx_target }}"
                >
                     {% translate "Quantity" %}
                    {% if sis_sort == 'quantity' %}
                        {% if sis_ordering == 'asc' %}
                            [ASC]
                        {% else %}
                            [DESC]
                        {% endif %}
                    {% endif %}
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for sis in seeds_in_stock %}
        <tr>
            <td>
                <a href="{% url 'grow:strain-detail' breeder_slug=sis.strain.breeder.slug slug=sis.strain.slug %}">
                    {{ sis.strain.name }}
                </a>
            </td>
            <td>
                <a href="{% url 'grow:breeder-detail' slug=sis.strain.breeder.slug %}">
                    {{ sis.strain.breeder.name }}
                </a>
            </td>
            <td>{{ sis.purchased_on }}</td>
            <td>{{ sis.strain.genotype.name }}</td>
            <td>{{ sis.strain.flowering_time_days }}</td>
            <td>{{ sis.my_growlogs_count }}</td>
            <td>{{ sis.quantity }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center">
                {% translate "You have no seeds in stock." %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if update_page_url %}
<script>
PAGE_URL.update({
    '{% if urlvars.sis_sort %}{{ urlvars.sis_sort }}{% else %}sis_sort{% endif %}': "{{ sis_sort }}",
    '{% if urlvars.sis_ordering %}{{ urlvars.sis_ordering }}{% else %}sis_ordering{% endif %}': "{{ sis_ordering }}",
});
</script>
{% endif %}
