
@use "../../node_modules/bootstrap/scss/bootstrap";

.body-container {
    min-height: calc(100vh - 56px);
}

.header {
    display: flex;
    align-items: center;
    justify-content: start;
}
.header-logo {
    height: 46px;
    width: 46px;
    @extend .img-fluid;
    @extend .float-start;
    margin-right: 1rem;
}

.header-title {
    @extend .text-white;
    @extend .h1;
    font-weight: 500;
}

.header-subtitle {
    margin-left: 1rem;
    opacity: 0.8;
    @extend .d-inline-block;
    @extend .text-truncate;
    @extend .fs-3;
}

footer {
    height: 40px;
    @extend .text-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @extend .p-2;
}

:root {
    --bs-breadcrumb-divider: '\279C';
}

p {
    text-align: justify;
}

td.fit-content,
td.fit-content *,
th.fit-content,
th.fit-content * {
    white-space: nowrap;
    width: 1%;
}

.modal-xl {
    @extend .modal-lg;
    max-width: 90%;
    min-width: 70%;
}

/* Light theme adjustments */
/*
[data-bs-theme="light"] {
    --bs-body-bg: #f1e5ae;
}
*/

/* Dark theme adjustments */
/*
[data-bs-theme="dark"] {
    --bs-body-bg: #121212;
    --bs-body-color: #e0e0e0;
    --bs-link-color: #8ab4f8;
    --bs-link-hover-color: #a3c9ff;
}
*/

 p {
    text-align:justify;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 110%;
    margin-top: -1px;
}

.list-group-item {
    ul {
        list-style-type: disc;
        ul {
            list-style-type: circle;
            ul {
                list-style-type: square;
                ul {
                    list-style-type: none;
                }
            }
        }
    }
}