{% extends base_template %}
{% load i18n %}


{% block title %}{% translate "Grow: Breeder" %}{% endblock title %}

{% block content %}
{% if use_bootstrap %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="--bs-breadcrumb-divider:'&#10093;';">
    {% url "grow:home" as grow_home %}
    {% if grow_home == '/' %}
        <li class="breadcrumb-item"><a href="{{ grow_home }}">{% translate "Home" %}</a></li>
    {% else %}
        <li class="breadcrumb-item"><a href="/">{% translate "Home" %}</a></li>
        <li class="breadcrumb-item"><a href="{{ grow_home }}">Grow</a></li>
    {% endif %}
        <li class="breadcrumb-item">
            <a href="{% url "grow:breeder-overview" %}">
                {% translate "Strains" %}
            </a>
        </li>
        <li class="breadcrumb-item active">{{ breeder.name }}</li>
    </ol>
</nav>
{% endif %}


{% if use_bootstrap %}
<div class="h3">
    {% if allowed_to_edit %}
    <a href="{% url 'grow:breeder-update' pk=breeder.pk %}"
        class="link-primary
            link-opacity-75
            link-opacity-100-hover
            link-underline-opacity-0
            {% if allowed_to_delete %}me-2{% endif %}"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-title="{% translate 'Edit breeder' %}"
    ><i class="bi bi-pencil-square"></i></a>
    {% endif %}
    {% if allowed_to_delete %}
    <a href="#"
        class="link-danger
            link-opacity-75
            link-opacity-100-hover
            link-underline-opacity-0"
        hx-get="{% url 'grow:hx-breeder-delete' pk=breeder.pk %}"
        hx-target="#modals-here"
        hx-swap="innerHTML"
        hx-trigger="click"
        data-bs-toggle="modal"
        data-bs-target="#modals-here"
    >
        <span data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-title="{% translate 'Delete breeder' %}">
            <i class="bi bi-x-square"></i>
        </span>
    </a>
    {% endif %}
</div>
{% else %}
    {% if allowed_to_edit %}<a href="{% url 'grow:breeder-create' pk=breeder.pk %}">{% translate "Edit breeder" %}</a>{% endif %}
    {% if allowed_to_delete %}<a href="{% url 'grow:breeder-delete' pk=breeder.pk %}">{% translate "Delete breeder" %}</a>{% endif %}
{% endif %}


<h1>{{ breeder.name }}</h1>
{% if breeder.has_logo %}
<img class="{% if use_bootstrap %}img-fluid rounded float-start me-3{% endif%}"
    alt="{% translate 'Breeder logo' %}" src="{{ breeder.logo }}"
    style="max-width:256px;">
{% endif %}
<p>
{% blocktranslate with name=breeder.name count n_strains=breeder.strains.count %}
There is one strain in the database for the breeder <i>{{ name }}</i>.
{% plural %}
There are {{ n_strains }} strains in the database for breeder <i>{{ name }}</i>.
{% endblocktranslate%}
{% blocktranslate with n_strains=breeder.strains_with_growlogs_count count n=breeder.strains_with_growlogs_count %}
One strain appears in growlogs.
{% plural %}
{{ n_strains }} strains appear in growlogs.
{% endblocktranslate %}
{% blocktranslate with name=breeder.name count n=breeder.growlog_count %}
A total of one growlog has been created for the strains of <i>{{ name }}</i>.
{% plural %}
A total of {{ n }} growlogs have been created for the strains of <i>{{ name }}</i>.
{% endblocktranslate %}
</p>
<p>
{% if breeder.breeder_url %}
    <a class="me-2" href="{{ breeder.breeder_url }}">{% translate "Breeder's homepage" %}</a>
{% endif %}
{% if breeder.seedfinder_url %}
    <a href="{{ breeder.seedfinder_url }}">{% translate "Breeder on SeedFinder.eu" %}</a>
{% endif %}
</p>

{% if breeder.has_description %}
<h2>{% translate  "Breeder information" %}</h2>
{{ breeder.description_html }}
{% endif %}

<h2>Strains</h2>

<table class="{% if use_bootstrap %}table table-hover{% endif %}"
    id="strain-table"
>
    <thead>
        <tr>
            <th>Strain</th>
            <th>Genetics</th>
            <th>Flowering time</th>
            <th>Growlogs</th>
            <th><div class="text-end me-2">
            {% if use_bootstrap %}
                {% if allowed_to_add_strains %}
                <a href="{% url 'grow:strain-create' breeder_pk=breeder.pk %}"
                    class="link-primary
                        link-opacity-75
                        link-opacity-100-hover
                        link-underline-opacity-0"
                    data-bs-toggle="tooltip"
                    data-bs-html="true"
                    data-bs-title="{% blocktranslate with name=breeder.name %}Add strain to breeder <i>{{ name }}</i>{% endblocktranslate %}"
                ><i class="bi bi-plus-square"></i></a>
                {% else %}
                <a href="#strain-table"
                    class="link-body-emphasis
                        link-opacity-50
                        link-underline-opacity-0"
                ><i class="bi bi-plus-square"></i></a>
                {% endif %}
            {% else %}
                {% if allowed_to_add_strains %}
                <a href="{% url 'grow:strain-create' %}">Add</a>
                {% else %}
                Actions
                {% endif %}
            {% endif %}
            </div></th>
        </tr>
    </thead>
    <tbody class="{% if use_bootstrap %}table-group-divider{% endif %}">
    {% for strain in breeder.strains_sorted %}
        <tr id="{{ breeder.slug }}-{{ strain.slug }}">
            <td>
                <a href="{% url 'grow:strain-detail' breeder_slug=breeder.slug slug=strain.slug %}">
                    {{ strain.name }}
                </a>
            </td>
            <td>{{ strain.genetics.name }}</td>
            <td>
                {% blocktranslate with days=strain.flowering_time_days count n=strain.flowering_time_days%}
                {{ days }} day
                {% plural %}
                {{ days }} days
                {% endblocktranslate %}
            </td>
            <td>
                {% blocktranslate with n_growlogs=strain.growlog_count count n=strain.growlog_count %}
                {{ n_growlogs }} Growlog
                {% plural %}
                {{ n_growlogs }} Growlogs
                {% endblocktranslate %}
            </td>
            <td>
            {% if use_bootstrap %}
                <div class="text-end me-2">
                {% if strain.id in strains_allowed_to_edit %}
                    <a href="{% url 'grow:strain-update' pk=strain.pk %}"
                        class="link-primary
                            link-opacity-75
                            link-opacity-100-hover
                            link-underline-opacity-0"
                        data-bs-toggle="tooltip"
                        data-bs-html="true"
                        data-bs-title="{% blocktranslate with name=strain.name %}Edit strain <i>{{ name }}</i>{% endblocktranslate %}"
                        data-bs-placement="left"
                    ><i class="bi bi-pencil-square"></i></a>
                {% else %}
                    <a href="#{{ breeder.slug}}-{{ strain.slug }}"
                        class="link-body-emphasis
                            link-opacity-50
                            link-underline-opacity-0"
                    ><i class="bi bi-pencil-square"></i></a>
                {% endif %}
                {% if strain.id in strains_allowed_to_delete %}
                    <a href="#"
                        class="link-danger
                            link-opacity-50
                            link underline-opacity-0"
                        hx-target="#modals-here"
                        hx-trigger="click"
                        hx-get="{% url 'grow:hx-strain-delete' pk=strain.pk %}"
                        data-bs-toggle="modal"
                        data-bs-target="#modals-here"
                    ><i class="bi bi-x-square"
                        data-bs-toggle="tooltip"
                        data-bs-html="true"
                        data-bs-title="{% blocktranslate with name=strain_name %}Delete strain <i>{{ name }}</i>{% endblocktranslate %}"
                        data-bs-placement="left"
                    ></i>
                </a>
                {% else %}
                <a href="#{{ breeder.slug}}-{{ strain.slug }}"
                        class="link-body-emphasis
                            link-opacity-50
                            link underline-opacity-0"
                ><i class="bi bi-x-square"></i></a>
                {% endif %}
                </div>
            {% else %}
                {% if strain.id in strains_allowed_to_edit %}
                <a href="{% url 'grow:strain-update' pk=strain.pk %}">
                    Edit
                </a>
                {% endif %}
                {% if strain.id in strains_allowd_to_delete %}
                <a href="{% url 'grow:strain-delete' pk=strain.pk %}">
                    Delete
                </a>
                {% endif %}
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}

{% block extra_body %}
{% if use_bootstrap %}
<div id="modal-here"
    class="modal fade"
    style="display: none"
    aria-hidden="false"
    tabindex=-1>
    <div class="modal-dialog modal-lg modal-dialog-centerd" role="document">
        <div class="modal-content"></div>
    </div>
</div>
{% endif %}
{% endblock extra_body %}