{% extends base_template %}
{% load i18n %}

{% block title %}{% translate "Grow: Breeder" %}{% endblock title %}
{% block content %}
<h1>{{ breeder.name }}</h1>
<p>
{% blocktranslate with name=breeder.name count n_strains=breeder.strains.count %}
There is one strain in the database for the breeder <i>{{ name }}</i>.
{% plural %}
There are {{ n_strains }} strains in the database for breeder <i>{{ name }}</i>.
{% endblocktranslate%}
{% blocktranslate with n_strains=breeder.strains_with_growlogs_count count n=breeder.strains_with_growlogs_count %}
There is one strain that appears in growlogs.
{% plural %}
There are {{ n_strains }} strains that apper in growlogs.
{% endblocktranslate %}
{% blocktranslate with name=breeder.name count n=breeder.growlog_count %}
There is one growlog for the strains of <i>{{ name }}</i>.
{% plural %}
There are {{ n }} for the strains of <i>{{ name }}</i>.
{% endblocktranslate %}
</p>

<h2>Strains</h2>
{% if use_bootstrap %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Strain</th>
            <th>Genetics</th>
            <th>Flowering time</th>
            <th>Growlogs</th>
            <th>
            {% if can_add_strains %}
                {% if use_bootstrap %}
                <a href="{% url 'grow:strain-create' breeder_slug=breeder.slug %}"
                    class="link-body-emphasis link-opacity-50 link-opacity-75-hover"
                ><i class="bi bi-plus-square"></i></a>

                {% else %}
                <a href="{% url 'grow:strain-create' %}">Add</a>
                {% endif %}
                {% else %}
            {% endif %}
            </th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
    {% for strain in breeder.strains_sorted %}
        <tr>
            <td><a href="{% url 'grow:strain-detail' breeder_slug=breeder.slug slug=strain.slug %}"
                class="link-body-emphasis link-opacity-50 link-opacity-75-hover link-underline-opacity-50 link-underline-opacity-75-hover"
            >{{ strain.name }}</a></td>
            <td>{{ strain.genetics.name }}</td>
            <td>
                {% blocktranslate with days=strain.flowering_time_days count n=strain.flowering_time_days%}
                {{ days }} day
                {% plural %}
                {{ days }} days
                {% endblocktranslate %}
            </td>
            <td>
                {% blocktranslate with growlogs=strain.growlog_count count n=strain.growlog_count %}
                {{ growlogs }} growlog
                {% plural %}
                {{ growlogs }} growlogs
                {% endblocktranslate %}
            </td>
            <td>
                {% if strain.id in strains_allowed_to_edit %}
                <a href="{% url 'grow:strain-update' breeder_slug=breeder.slug slug=strain.slug %}"
                    class="link-body-emphasis link-opacity-50 link-opacity-75-hover"
                ><i class="bi bi-plus-square"></i></a>
                {% endif %}
            </td>
        <tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<table>
    <thead>
        <tr>
            <th>Strain</th>
            <th>Genetics</th>
            <th>Flowering time</th>
            <th>Growlogs</th>
        </tr>
    </thead>
    <tbody>
    {% for strain in strains %}
        <tr>
            <td><a href="#">{{ strain.name }}</a></td>
            <td>{{ strain.strain_type.name }}</td>
            <td>{{ strain.flowering_time }} days</td>
            <td>{{ strain.growlog_count }}</td>
            <td>
            {% if strain.id in strains_allowed_to_edit %}
                {% if use_bootstrap %}
                {% else %}
                <a href="{% url 'grow:strain-update' breeder_slug=breeder.slug slug=strain.slug %}">
                </a>
                {% endif %}
            {% endif%}
            </td>
        <tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}
{% endblock content%}
