{% load i18n widget_tweaks %}
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{% translate "Delete Breeder" %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        {% translate "Delete Breeder" as delete_breeder_label %}
        <form method="post" action="{% url 'grow:hx-breeder-delete' pk=breeder.pk %}">
            <div class="modal-body">
                {% csrf_token %}
                <p>
                    {% blocktranslate with slug=breeder.slug name=breeder.name %}If you really want to delete breeder {{ name }} type <mark>{{ slug }}</mark> in the field below and hit the {{ delete_breeder_label }} button.{% endblocktranslate %}
                </p>
                <p>
                    <label for="form.slug.id_for_label" class="visually-hidden">{{ from.slug.label }}</label>
                    {% render_field form.slug class="form-control" placeholder=breeder.slug %}
                </p>
            </div>
            <div class="modal-footer text-end">
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-person-fill-dash"></i>
                    {{ delete_breeder_label }}
                </button>
                <button type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    <i class="bi bi-x">
                    {% translate "Cancel" %}
                </button>
            </div>
        </div>
    </form>
</div>
