{% load i18n %}
{% if seeds_in_stock_render_text %}
{% if seeds_in_stock_render_user_text %}
<p>
    {% blocktranslate with user=seeds_in_stock_user.username count n=n_seeds_in_stock %}{{ user }} currently has one seed in stock.{% plural %}{{ user }} currently has {{ n }} seeds in stock.{% endblocktranslate %}

    {% if n_feminized_seeds_in_stock > 0 and n_regular_seeds_in_stock > 0 %}
    {% blocktranslate count n=n_feminized_seeds_in_stock %}Of them, one is feminized.{% plural %}Of them, {{ n }} are feminized.{% endblocktranslate %}
    {% blocktranslate count n=n_regular_seeds_in_stock %}Of them, one is regular.{% plural %}Of them, {{ n }} are regular.{% endblocktranslate %}
    {% elif n_feminized_seeds_in_stock == 0 %}
    {% blocktranslate %}All of them are regular.{% endblocktranslate %}
    {% elif n_regular_seeds_in_stock == 0 %}
    {% blocktranslate %}All of them are feminized.{% endblocktranslate %}
    {% endif %}

    {% if n_autoflowering_seeds_in_stock > 0 %}
        {% if n_autoflowering_seeds_in_stock == n_seeds_in_stock %}
    {% blocktranslate %}All of your seeds are autoflowering.{% endblocktranslate %}
        {% else %}
    {% blocktranslate count n=n_autoflowering_seeds_in_stock %}One is an autoflowering seed.{% plural %}{{ n }} are autoflowering seeds.{% endblocktranslate %}
        {% endif %}
    {% else %}
        {% blocktranslate %}You have no autoflowering seeds in stock.{% endblocktranslate %}
    {% endif %}

    {% if n_photoperiod_seeds_in_stock > 0 %}
        {% if n_photoperiod_seeds_in_stock == n_seeds_in_stock %}
    {% blocktranslate %}All of your seeds are photoperiod.{% endblocktranslate %}
        {% else %}
    {% blocktranslate count n=n_photoperiod_seeds_in_stock %}One is a photoperiod seed.{% plural %}{{ n }} are photoperiod seeds.{% endblocktranslate %}
        {% endif %}
    {% else %}
    {% blocktranslate with user=seeds_in_stock_user.username %}{{ user }} has no photoperiod seeds in stock.{% endblocktranslate %}
    {% endif %}
</p>
{% else %}
<p>
    {% blocktranslate count n=n_seeds_in_stock %}You currently have one seed in stock.{% plural %}You currently have {{ n }} seeds in stock.{% endblocktranslate %}
    {% if n_seeds_in_stock > 0 %}
        {% if n_feminized_seeds_in_stock > 0 and n_regular_seeds_in_stock > 0 %}
    {% blocktranslate count n=n_feminized_seeds_in_stock %}Of them, one is feminized.{% plural %}Of them, {{ n }} are feminized.{% endblocktranslate %}
    {% blocktranslate count n=n_regular_seeds_in_stock %}Of them, one is regular.{% plural %}Of them, {{ n }} are regular.{% endblocktranslate %}
        {% elif n_feminized_seeds_in_stock == 0 %}
    {% blocktranslate %}All of them are regular.{% endblocktranslate %}
        {% elif n_regular_seeds_in_stock == 0 %}
    {% blocktranslate %}All of them are feminized.{% endblocktranslate %}
        {% endif %}
        {% if n_autoflowering_seeds_in_stock > 0 %}
            {% if n_photoperiod_seeds_in_stock == 0 %}
    {% blocktranslate %}All of your seeds are autoflowering.{% endblocktranslate %}
            {% else %}
    {% blocktranslate count n=n_autoflowering_seeds_in_stock %}One is an autoflowering seed.{% plural %}{{ n }} are autoflowering seeds.{% endblocktranslate %}
            {% endif %}
        {% else %}
    {% blocktranslate %}You have no autoflowering seeds in stock.{% endblocktranslate %}
        {% endif %}
        {% if n_photoperiod_seeds_in_stock > 0 %}
            {% if n_autoflowering_seeds_in_stock == 0 %}
    {% blocktranslate %}All of your seeds are photoperiod.{% endblocktranslate %}
            {% else %}
    {% blocktranslate count n=n_photoperiod_seeds_in_stock %}One is a photoperiod seed.{% plural %}{{ n }} are photoperiod seeds.{% endblocktranslate %}
            {% endif %}
        {% else %}
    {% blocktranslate %}You have no photoperiod seeds in stock.{% endblocktranslate %}
        {% endif %}
    {% endif %}
</p>
<p>
    {% blocktranslate %}You can add more seeds to your stock in the strain detail page.{% endblocktranslate %}
</p>
{% endif %}
{% endif %}

{% if seeds_in_stock_render_table %}
<div class="card mb-3">
    <div class="card-header"><div class="row">
        <div class="col-6 d-flex align-items-center">
            <h5 class="card-title mb-0">{% translate "Seeds in stock" %}</h5>
        </div>
        <div class="col-6">
        <nav aria-label="{% translate 'Seeds in stock pagination' %}" class="d-flex justify-content-end text-end">
            <ul class="pagination justify-content-start mb-0 ">
            {% if not seeds_in_stock_n_pages or seeds_in_stock_n_pages == 1 %}
                <li class="page-item active disabled" aria-current="page">
                    <button
                        class="btn btn-outline-primary page-link"
                        hx-get="{% url 'grow:hx-seeds-in-stock-info' %}?page=1&paginate={{ seeds_in_stock_paginate }}&render_text={% if seeds_in_stock_render_text %}1{% else %}0{% endif %}"
                        hx-target="#seeds-in-stock-info"
                        hx-swap="innerHTML"
                    >
                        1
                    </button>
                </li>
            {% else %}
                {% if seeds_in_stock_current_page > 2 %}
                <li class="page-item">
                    <a href="#"
                        hx-get="{% url 'grow:hx-seeds-in-stock-info' %}?page=1&paginate={{ seeds_in_stock_paginate }}&render_text={% if seeds_in_stock_render_text %}1{% else %}0{% endif %}&render_user_text={% if seeds_in_stock_render_user_text %}1{% else %}0{% endif %}&render_table=1"
                        hx-target="#seeds-in-stock-info"
                        hx-swap="innerHTML"
                        class="btn btn-outline-primary page-link"
                    ><i class="bi bi-chevron-double-left"></i></a>
                </li>
                {% endif %}
                {% if seeds_in_stock_current_page > 1 %}
                <li>
                    <a href="#"
                        hx-get="{% url 'grow:hx-seeds-in-stock-info' %}?page={{ seeds_in_stock_current_page|add:-1 }}&paginate={{ seeds_in_stock_paginate}}&render_text={% if seeds_in_stock_render_text %}1{% else %}0{% endif %}&render_user_text={% if seeds_in_stock_render_user_text %}1{% else %}0{% endif %}&render_table=1"
                        hx-target="#seeds-in-stock-info"
                        hx-swap="innerHTML"
                        class="btn btn-outline-primary page-link"
                    ><i class="bi bi-chevron-left"></i></a>
                </li>
                {% endif %}
                <li class="page-item {% if seeds_in_stock_current_page == 1 %}active disabled{% endif %}" aria-current="page">
                    <button type="button" class="btn btn-outline-secondary disabled">{{ seeds_in_stock_current_page }}</button>

                {% if seeds_in_stock_current_page < seeds_in_stock_n_pages %}
                <li>
                    <button
                        hx-get="{% url 'grow:hx-seeds-in-stock-info' %}?page={{ seeds_in_stock_current_page|add:1 }}&paginate={{ seeds_in_stock_paginate}}&render_text={% if seeds_in_stock_render_text %}1{% else %}0{% endif %}&render_user_text={% if seeds_in_stock_render_user_text %}1{% else %}0{% endif %}&render_table=1"
                        hx-target="#seeds-in-stock-info"
                        hx-swap="innerHTML"
                        hx-trigger="click"
                        class="btn btn-outline-primary page-link"
                    ><i class="bi bi-chevron-right"></i></button>
                </li>
                    {% if seeds_in_stock_current_page < seeds_in_stock_n_pages|add:-1 %}
                <li>
                    <button
                        hx-get="{% url 'grow:hx-seeds-in-stock-info' %}?page={{ seeds_in_stock_n_pages }}&paginate={{ seeds_in_stock_paginate }}&render_text={% if seeds_in_stock_render_text %}1{% else %}0{% endif %}&render_user_text={% if seeds_in_stock_render_user_text %}1{% else %}0{% endif %}&render_table=1"
                        hx-target="#seeds-in-stock-info"
                        hx-swap="innerHTML"
                        hx-trigger="click"
                        class="btn btn-outline-primary page-link"
                    ><i class="bi bi-chevron-double-right"></i></button>
                </li>
                    {% endif %}
                {% endif %}
            {% endif %}
            </ul></div>
        </nav>
    </div></div>
    <div class="card-body p-0">
        <table class="{% if use_bootstrap %}table table-hover{% endif %}">
            <thead>
                <tr class="{% if use_bootstrap %}table-success{% endif %}">
                    <th>{% translate "Strain" %}</th>
                    <th>{% translate "Breeder"%}</th>
                    <th>{% translate "Type" %}</th>
                    <th>{% translate "Genotype" %}</th>
                    <th>{% translate "Flowering time" %}</th>
                    <th>{% translate "Quantity" %}</th>
                    <th class="text-end">
                        <button href="{% url 'grow:hx-seed-in-stock-dialog' %}"
                            hx-get="{% url 'grow:hx-seed-in-stock-dialog' %}"
                            hx-target="#modals-here"
                            hx-swap="innerHTML"
                            data-bs-toggle="modal"
                            data-bs-target="#modals-here"
                            class="btn btn-link link-body-emphasis link-opacity-50 link-opacity-100-hover link-underline-opacity-0"
                           class="btn btn-link link-body-emphasis link-opacity-50 link-opacity-100-hover link-underline-opacity-0">
                           <i class="bi bi-plus-square"></i></button>
                        </th>
                </tr>
            </thead>
            <tbody class="{% if use_bootstrap %}table-group-divider{% endif %}" id="seeds-in-stock-table-body">
            {% for seed in seeds_in_stock %}
                <tr>
                    <td>
                        <a href="{% url 'grow:strain-detail' breeder_slug=seed.strain.breeder.slug slug=seed.strain.slug %}">{{ seed.strain.name }}</a>
                    </td>
                    <td>
                        <a href="{% url 'grow:breeder-detail' slug=seed.strain.breeder.slug %}">{{ seed.strain.breeder.name }}</a></td>
                    </td>
                    <td>
                        {% if seed.strain.is_feminized %}{% translate "feminized" %}{% else %}{% translate "regular" %}{% endif %}{% if seed.strain.is_autoflowering %}, {% translate "autoflowering" %}{% endif %}
                    </td>
                    <td>{{ seed.strain.genotype.name }}</td>
                    <td>{% blocktranslate count n=seed.strain.flowering_time_days %}One day{% plural %}{{ n }} days{% endblocktranslate %}</td>
                    <td>{{ seed.quantity }}</td>
                    <td class="text-end">
                        <a href="#"
                            hx-get="{% url 'grow:hx-strain-stock-notes' pk=seed.pk %}"
                            hx-target="#modals-here"
                            hx-swap="innerHTML"
                            data-bs-toggle="modal"
                            data-bs-target="#modals-here"
                            class="link-body-emphasis link-opacity-50 link-opacity-100-hover link-underline-opacity-0"
                        ><i class="bi bi-journal-text"
                            data-bs-toggle="tooltip"
                            data-bs-title="{% translate 'Show notes.' %}"
                            data-bs-placement="left"></i>
                        </a>
                        <a href="#"
                            hx-get="{% if seed.is_feminized %}{% url 'grow:hx-user-add-seeds-to-stock' strain=seed.strain.pk feminized=1 %}{% else %}{% url 'grow:hx-user-add-seeds-to-stock' strain=seed.strain.pk feminized=0 %}{% endif %}"
                            hx-target="#modals-here"
                            hx-swap="innerHTML"
                            data-bs-toggle="modal"
                            data-bs-target="#modals-here"
                            class="link-body-emphasis link-opacity-50 link-opacity-100-hover link-underline-opacity-0"
                        ><i class="bi bi-plus-circle"
                            data-bs-toggle="tooltip"
                            data-bs-title="{% translate 'Add seeds to stock.' %}"
                            data-bs-placement="left"></i>
                        </a>
                        <a href="#"
                            hx-get="{% if seed.is_feminized %}{% url 'grow:hx-user-remove-seeds-from-stock' strain=seed.strain.pk feminized=1 %}{% else %}{% url 'grow:hx-user-remove-seeds-from-stock' strain=seed.strain.pk feminized=0 %}{% endif %}"
                            hx-target="#modals-here"
                            hx-swap="innerHTML"
                            data-bs-toggle="modal"
                            data-bs-target="#modals-here"
                            class="link-body-emphasis link-opacity-50 link-opacity-100-hover link-underline-opacity-0"
                        ><i class="bi bi-dash-circle"
                            data-bs-toggle="tooltip"
                            data-bs-title="{% translate 'Remove seeds from stock.' %}"
                            data-bs-placement="left"></i>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" class="table-warning">{% translate "You have no seeds in stock." %}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr class="{% if use_bootstrap %}table-secondary{% endif %}">
                    <th colspan="5">{% translate "Total" %}</th>
                    <th colspan="2" class="text-end">{{ n_seeds_in_stock }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
    htmx.process(document.getElementById('seeds-in-stock-info'));
</script>

{% endif %}