<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{% translate "Search for strains" %}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form method="post"
            {% if feminized %}
            action="{% url 'grow:hx-strain-search' %}"
            {% else %}
            action="{% url 'grow:hx-strain-search' %}"
            {% endif %}
    >
        <div class="modal-body">
            {% csrf_token %}
            <div class="input-group mb-3">
                {% translate "Search term" as search_term_label %}
                {% render_field form.search_term class="form-control" placeholder=search_term_label %}
                <label for="{{ form.search_term.id_for_label }}" class="input-group-text">{{ search_term_label }}</label>
                <button type="submit" class="btn btn-outline-primary"><span class="bi bi-search"></span></button>
            </div>
        </div>
    </form>
  </div>
</div>