{% extends base_template %}
{% load i18n %}

{% block title %}{% translate "Grow: Breeder overview" %}{% endblock title %}

{% block content %}

<p>{{ labels }}</p>

<table {% if use_bootstrap %}class="table table-hover"{% endif %}>
    <thead>
        <tr>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Strains" %}</th>
            <th>{% translate "Growlogs" %}</th>
            <th>
                {% if allowed_to_create %}
                <a href="{% url "grow:breeder-create" %}"
                    class="link-body-emphasis link-opacity-50 link-unnderline-opacity-50 link-opacity-75-hover link-underline-opacity-75-hover"
                ><i class="bi bi-plus-square"></i></a>
                {% else %}
                <i class="bi bi-box-arrow-up"></i>
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody {% if use_bootstrap %}class="table-group-divider"{% endif %}>
        {% for breeder, breeder_id in breeders_id %}
        <tr>
            <td>
                <a href="{% url "grow:breeder-detail" slug=breeder.slug %}"
                    {% if breeder_id %}id="{{ breeder_id}}"{% endif %}
                    class="link-body-emphasis link-opacity-50 link-underline-opacity-50 link-opacity-75-hover link-underline-opacity-75-hover"
                >{{ breeder.name }}</a>
            </td>
            <td>{{ breeder.strain_count }}</td>
            <td>{{ breeder.growlog_count }}</td>
            <td>
            {% if breeder.id in breeders_allowed_to_edit %}
                {% if use_bootstrap %}
                <a href="{% url 'grow:breeder-update' slug=breeder.slug %}"
                    class="link-body-emphasis link-opacity-50 link-unnderline-opacity-50 link-opacity-75-hover link-underline-opacity-75-hover"
                    data-bs-toggle="tooltip"
                    data-bs-html="true"
                    data-bs-placement="left"
                    data-bs-title="Edit <i>{{ breeder.name }}</i>"
                >
                    <i class="bi bi-pencil-square"></i>
                </a>
                {% else %}
                <a href="{% url 'grow:breeder-update' slug=breeder.slug %}">
                    {% translate "Edit" %}
                </a>
                {% endif %}
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
