{% extends base_template %}
{% load i18n widget_tweaks %}


{% block title %}{{ grow_site_title }}: <span class="{% if use_bootstrap %}fs-2{% endif %}">{% translate "Breeder overview" %}</span>{% endblock title %}
{% block head_title %}{{ grow_head_title }}{% endblock %}

{% block content %}
{% if use_bootstrap %}
<nav aria-label="breadcrumb">
    {% url "grow:home" as grow_home %}
    <ol class="breadcrumb" style="--bs-breadcrumb-divider:'&#10093;';">
    {% if grow_home == "/" %}
        <li class="breadcrumb-item"><a href="{{ grow_home }}">{% translate "Home" %}</a></li>
    {% else %}
        <li class="breadcrumb-item"><a href="/">{% translate "Home" %}</a></li>
        <li class="breadcrumb-item"><a href="{{ grow_home }}">Grow</a></li>
    {% endif %}
        <li class="breadcrumb-item active">{% translate "Breeders" %}</li>
    </ol>
</nav>
{% endif %}

<h1>Breeders</h1>
<p>
{% blocktranslate %}This is an overview of all breeders in the system. You can filter the breeders by typing in the filter field below.{% endblocktranslate %}
</p>
<p>
{% blocktranslate %}Currently there are {{ breeder_count }} breeders and {{ strain_count }} strains in the system.{% endblocktranslate %}
</p>

<div class="mb-2">
    <form id="strain-search-form"
        action="{% url 'grow:strain-search' %}"
        method="post"
    >
        {% csrf_token %}
        {% if use_bootstrap %}
        <div class="input-group">
            <label for="{{ strain_search_form.search_query.id_for_label }}" class="form-label visually-hidden">
                {{ strain_search_form.search_query.label }}
            </label>
            <span class="input-group-text rounded-start">{% translate "Search strains" %}</span>

            {% render_field strain_search_form.search_query placeholder=strain_search_form.search_query.label class="form-control" %}
            <button class="btn btn-outline-primary" type="submit" id="button-search-strains">
                <i class="bi bi-search"></i>
                <span class="visually-hidden">{% translate "Search strains" %}</span>
        </div>
        {% else %}
        {% render_field strain_search_form.search_query placeholder=strain_search_form.search_query.label %}
        <button type="submit">
            <label for="{{ strain_search_form.search_query.id_for_label }}">{% translate "Search strains..." %}</label>
        </button>
        {% endif %}
    </form>
</div>


<div>
    <form id="breeder-filter-form"
        method="post"
        hx-post="{% url 'grow:hx-breeder-filter' %}"
        hx-trigger="keyup changed delay:500ms"
        hx-target="#breeder-overview-div"
        hx-swap="innerHTML"
        class="mb-3"
    >
        {% csrf_token %}
        {% if use_bootstrap %}
        <label for="{{ breeder_filter_form.search_query.id_for_label }}" class="form-label visually-hidden">
            {{ breeder_filter_form.search_query.label }}
        </label>
        {% render_field breeder_filter_form.search_query placeholder=breeder_filter_form.search_query.label class="form-control" %}

        {% else %}
        {% render_field breeder_filter_form.search_query placeholder=breeder_filter_form.search_query.label %}
        {% endif %}
    </form>
</div>

<div class="mb-3" id="breeder-overview-div">
    <p>{{ labels }}</p>

<table {% if use_bootstrap %}class="table table-hover"{% endif %} id="breeder-overview-table">

    <thead>
        <tr class="{% if use_bootstrap %}table-success{% endif %}">
            <th>{% translate "Name" %}</th>
            <th>{% translate "Strains" %}</th>
            <th>{% translate "Growlogs" %}</th>
            <th>
            {% if use_bootstrap %}
                <div class="text-end me-2">
                {% if allowed_to_add_breeder %}
                    <a href="{% url 'grow:breeder-create' %}"
                        class="link-primary
                            link-opacity-75
                            link-underline-opacity-0
                            link-opacity-100-hover"
                        data-bs-toggle="tooltip"
                        data-bs-placement="left"
                        data-bs-title="Add a breeder"
                    ><i class="bi bi-plus-square"></i></a>
                {% else %}
                    <i class="bi bi-box-arrow-up"
                        data-bs-toggle="tooltip"
                        data-bs-title="Breeder actions"
                    ></i>
                {% endif %}
                </div>
            {% else %}
                {% if allowed_to_add_breeder %}
                <a href="{% url 'grow:breeder-create' %}">{% translate "Add breeder" %}</a>
                {% endif %}
            {% endif %}
            </th>
        </tr>
    </thead>
    <tbody {% if use_bootstrap %}class="table-group-divider"{% endif %}>
        {% for breeder, breeder_id, breeder_label in breeders_id %}
        {% if breeder_id and group_breeders %}
            <tr class="{% if use_bootstrap %}table-secondary{% endif %}" id="{{ breeder_id }}">
                <th colspan=4>
                    {{ breeder_label }}
                </th>
            </tr>
        {% endif %}
        <tr>
            <td>
                <a href="{% url "grow:breeder-detail" slug=breeder.slug %}"
                    {% if breeder_id and not group_breeders %}id="{{ breeder_id}}"{% endif %}
                >{{ breeder.name }}</a>
            </td>
            <td>{{ breeder.strain_count }}</td>
            <td>{{ breeder.growlog_count }}</td>
            <td>
            {% if use_bootstrap %}
                <div class="text-end me-1">
                {% if breeder.id in breeders_allowed_to_edit %}
                    <a href="{% url 'grow:breeder-update' pk=breeder.pk %}"
                        class="link-primary
                            link-opacity-75
                            link-opacity-100-hover
                            link-underline-opacity-0"
                        data-bs-toggle="tooltip"
                        data-bs-html="true"
                        data-bs-placement="left"
                        data-bs-title="{% blocktranslate with name=breeder.name %}Edit breeder <i>{{ name }}</i>{% endblocktranslate %}"
                    ><i class="bi bi-pencil-square"></i></a>
                {% else %}
                    <a href="#"
                        class="link-body-emphasis
                            link-opacity-50
                            link-underline-opacity-0"
                    ><i class="bi bi-pencil-square"></i></a>
                {% endif %}
                {% if breeder.id in breeders_allowed_to_delete %}
                    <a href="{% url 'grow:breeder-update' pk=breeder.pk %}"
                        class="link-danger
                            link-opacity-75
                            link-opacity-100-hover
                            link-underline-opacity-0"
                        hx-get="{% url 'grow:hx-breeder-delete' pk=breeder.pk %}"
                        hx-target="#modals-here"
                        hx-trigger="click"
                        hx-swap="innerHTML"
                        data-bs-toggle="modal"
                        data-bs-target="#modals-here"
                    >
                        <i data-bs-toggle="tooltip"
                            data-bs-html="true"
                            data-bs-placement="left"
                            data-bs-title="{% blocktranslate with name=breeder.name %}Delete breeder <i>{{ name }}</i>{% endblocktranslate %}"
                        class="bi bi-x-square"></i>
                    </a>
                {% else %}
                    <a href="{% url 'grow:breeder-update' pk=breeder.pk %}"
                        class="link-body-emphasis
                            link-opacity-50
                            link-underline-opacity-0"
                    ><i class="bi bi-x-square"></i></a>
                {% endif %}

            </div>
            {% else %}
                {% if breeder.id in breeders_allowed_to_edit %}
                <a href="{% url 'grow:breeder-update' pk=breeder.pk %}">
                    {% translate "Edit" %}
                </a>
                {% endif %}
                {% if breeder.id in breeders_allowed_to_delete %}
                <a href="{% url 'grow:breeder-update' pk=breeder.pk %}">
                    {% translate "Delete" %}
                </a>
                {% endif %}
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}

{% block extra_body %}
{% if use_bootstrap %}
<div id="modal-here"
    class="modal fade"
    style="display: none"
    aria-hidden="false"
    tabindex=-1>
    <div class="modal-dialog modal-lg modal<p>{{ labels }}</p>-dialog-centerd" role="document">
        <div class="modal-content"></div>
    </div>
</div>
{% endif %}
{% endblock extra_body %}