{% extends base_template %}
{% load static i18n %}
{% block title %}Grow: {{ strain.breeder.name }} - {{ strain.name }} {% endblock %}

{% block content %}
{% if use_bootstrap %}
<nav aria-label="breadcrumb">
    {% url "grow:home" as grow_home %}
    <ol class="breadcrumb" style="--bs-breadcrumb-divider:'&#10093;';">
    {% if grow_home == "/" %}
        <li class="breadcrumb-item"><a href="{{ grow_home }}">{% translate "Home" %}</a></li>
    {% else %}
        <li class="breadcrumb-item"><a href="/">{% translate "Home" %}</a></li>
        <li class="breadcrumb-item"><a href="{{ grow_home }}">Grow</a></li>
    {% endif %}
        <li class="breadcrumb-item">
            <a href="{% url 'grow:breeder-overview' %}">
                {% translate "Strains" %}
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'grow:breeder-detail' slug=strain.breeder.slug %}">
                {{ strain.breeder.name }}
            </a>
        </li>
        <li class="breadcrumb-item active">{{ strain.name }}</li>
    </ol>
</nav>
{% endif %}

{% if use_bootstrap %}
<div class="h3">
    {% if allowed_to_edit %}
    <a href="{% url 'grow:strain-update' breeder_slug=strain.breeder.slug slug=strain.slug %}"
        class="link-primary
            link-opacity-75
            link-opacity-100-hover
            link-underline-opacity-0"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-title="Edit strain"
    >
        <i class="bi bi-pencil-square"></i>
    </a>
    {% endif %}
    {% if allowed_to_delete %}
    <a href="#"
        class="link-danger
            link-opacity-75
            link-opacity-100-hover
            link-underline-opacity-0"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-title="Delete strain"
    >
        <i class="bi bi-x-square"></i>
    </a>
    {% endif %}
</div>
{% endif %}
<h1>{{ strain.breeder.name }} - {{ strain.name }}</h1>

<div>
{% if strain.has_logo %}
    <img class="{% if use_bootstrap %}img-fluid rounded me-3 float-start{% endif %}"
        src="{{ strain.logo }}"
        style="width:256px;"
    >
{% else %}
    <img class="{% if use_bootstrap %}img-fluid rounded me-3 float-start{% endif %}"
        src="{% static 'grow/img/hemp-leaf.jpg' %}"
        style="width:256px;"
    >
{% endif %}

    <p>
        <ul>
            <li>
                <span class="fw-bold">{% translate "Flowering time:" %}</span>
                {% blocktranslate with ftd=strain.flowering_time_days count n=strain.flowering_time_days %}
                {{ ftd }} day
                {% plural %}
                {{ ftd }} days
                {% endblocktranslate %}
                {% blocktranslate with ftw=strain.flowering_time_weeks count n=strain.flowering_time_weeks %}
                ({{ ftw }} week)
                {% plural %}
                ({{ ftw }} weeks)
                {% endblocktranslate %}
            </li>
            <li>
                <span class="fw-bold">{% translate "Genetics:"%}</span>
                {{ strain.genetics.name }}
            <li>
                <span class="fw-bold">{% translate "This is a autflowering strain?" %}</span>
                {% if strain.is_automatic %}{% translate "Yes" %}{% else %}{% translate "No" %}{% endif %}
            </li>
            <li>
                <span class="fw-bold">{% translate "You can get regular seeds?" %}</span>
                {% if strain.is_regular %}{% translate "Yes" %}{% else %}{% translate "No" %}{% endif %}
            </li>
            <li>
                <span class="fw-bold">{% translate "You can get feminized seeds?" %}</span>
                {% if strain.is_feminized %}{% translate "Yes" %}{% else %}{% translate "No" %}{% endif %}
            </li>
            <li>
                <span class="fw-bold">{% translate "This is a clone-only strain?" %}</span>
                {% if not strain.is_feminized and not strain.is_regular %}
                    {% translate "Yes" %}
                {% else %}
                    {% translate "No" %}
                {% endif %}
            </li>
        </ul>
    </p>
    <p>
        {% if strain.strain_url %}
        <a class="{% if strain.seedfinder_url %}me-2{% endif %}" href="{{ strain.strain_url }}">{% translate "Strain Homepage" %}</a>
        {% endif %}
        {% if strain.seedfinder_url %}
        <a href="{{ strain.seedfinder_url }}">{% translate "View on SeedFinder.eu" %}</a>
        {% endif %}
    </p>
    {% if strain.has_description %}
    <h2>{% translate "Strain description" %}</h2>
    {{ strain.description_html }}
    {% endif %}
</div>

<h2>Growlogs</h2>
{% if growlogs %}
<table class="{% if use_bootstrap%}table{% endif %}">
    <thead>
        <tr>
            <th>
                <div class="{% if use_bootstrap%}text-truncate{% endif %}">
                </div>
            </th>
        </tr>
    </thead>
    <tbody class="{% if use_bootstrap %}table-group-divider{% endif %}">
    </tbody>
</table>
{% else %}
<p class="">
{% blocktranslate %}
There are currently no growlogs for this strain, at least none you are allowed to view.
You could grow this strain yourself and add a growlog for the members here, so they
can see how this strain grows and flowers. Others might want to learn from what you are doing.
{% endblocktranslate %}
</p>
{% endif %}

{% endblock content %}