{% extends base_template %}
{% load i18n %}

{% block content %}
<h1>{% translate "Remove seeds from stock" %}</h1>
<form method="post" action="{% url 'grow:strain-remove-from-stock' strain=strain.pk feminized=feminized_int %}">
{% if feminized %}
{% translate "feminized seeds" as seed_type_plural %}
{% translate "feminized seed" as seed_type_singular %}
{% else %}
{% translate "regular seeds" as seed_type_plural %}
{% translate "regular seed" as seed_type_singular %}
{% endif %}
<p>
{% blocktranslate with strain_name=strain.name breeder_name=strain.breeder.name count n=n_seeds_in_stock %}
You have {{ n }} {{ seed_type_singular }} for strain <i>{{ strain_name }}</i> from <i>{{ breeder_name }}</i>
in stock. How many would you like to remove?
{% plural %}
You have {{ n }} {{ seed_type_plural }} for strain <i>{{ strain_name }}</i> from <i>{{ breeder_name }}</i>
in stock. How many would you like to remove?
{% endblocktranslate %}
</p>

{% csrf_token %}
{{ form.as_p }}
<div>
    <button type="submit">
        {% translate "Remove from stock" %}
    </button>
    <button type=button onclick="location.href='{% url 'grow:strain-detail' breeder_slug=strain.breeder.slug slug=strain.slug %}'">
        {% translate "Cancel" %}
    </button>
</div>
</form>
{% endblock content %}