{% extends base_template %}
{% load static i18n %}

{% block title %}{{ grow_site_title }}: {{ strain.breeder.name }} - {{ strain.name }} {% endblock %}
{% block head_title %}{{ grow_head_title }}{% endblock %}

{% block content %}
{% if use_bootstrap %}
<nav aria-label="breadcrumb">
    {% url "grow:home" as grow_home %}
    <ol class="breadcrumb" style="--bs-breadcrumb-divider:'&#10093;';">
    {% if grow_home == "/" %}
        <li class="breadcrumb-item"><a href="{{ grow_home }}">{% translate "Home" %}</a></li>
    {% else %}
        <li class="breadcrumb-item"><a href="/">{% translate "Home" %}</a></li>
        <li class="breadcrumb-item"><a href="{{ grow_home }}">Grow</a></li>
    {% endif %}
        <li class="breadcrumb-item">
            <a href="{% url 'grow:breeder-overview' %}">
                {% translate "Strains" %}
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'grow:breeder-detail' slug=strain.breeder.slug %}">
                {{ strain.breeder.name }}
            </a>
        </li>
        <li class="breadcrumb-item active">{{ strain.name }}</li>
    </ol>
</nav>
{% endif %}

{% if use_bootstrap %}
<div class="h3">
    {% if allowed_to_edit %}
    <a href="{% url 'grow:strain-update' pk=strain.pk %}"
        class="link-primary
            link-opacity-75
            link-opacity-100-hover
            link-underline-opacity-0"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-title="{% translate 'Edit strain' %}"
    >
        <i class="bi bi-pencil-square"></i>
    </a>
    {% endif %}
    {% if allowed_to_delete %}
    <a href="#"
        class="link-danger
            link-opacity-75
            link-opacity-100-hover
            link-underline-opacity-0"
            hx-get="{% url 'grow:hx-strain-delete' pk=strain.pk %}"
            hx-swap="innerHTML"
            hx-target="#modals-here"
            data-bs-toggle="modal"
            data-bs-target="#modals-here"
    >
        <i class="bi bi-x-square"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-title="{% translate 'Delete strain' %}"></i>
    </a>
    {% endif %}
</div>
{% endif %}
<h1>{{ strain.breeder.name }} - {{ strain.name }}</h1>

<div>
{% if strain.has_logo %}
    <img class="{% if use_bootstrap %}img-fluid rounded me-3 float-start{% endif %}"
        src="{{ strain.logo }}"
        style="max-width:300px;"
    >
{% else %}
    <img class="{% if use_bootstrap %}img-fluid rounded me-3 float-start{% endif %}"
        src="{% static 'grow/img/hemp-leaf.jpg' %}"
        style="max-width:300px;"
    >
{% endif %}

    <p>
        <ul>
            <li>
                <span class="fw-bold">{% translate "Flowering time:" %}</span>
                {% if strain.flowering_time_days == 0 %}
                {% translate "Unknown" %}
                {% else %}
                {% blocktranslate with ftd=strain.flowering_time_days count n=strain.flowering_time_days %}
                {{ ftd }} day
                {% plural %}
                {{ ftd }} days
                {% endblocktranslate %}
                {% blocktranslate with ftw=strain.flowering_time_weeks count n=strain.flowering_time_weeks %}
                ({{ ftw }} week)
                {% plural %}
                ({{ ftw }} weeks)
                {% endblocktranslate %}
                {% endif %}
            </li>
            <li>
                <span class="fw-bold">{% translate "Genetics:"%}</span>
                {{ strain.genetics.name }}
            <li>
                <span class="fw-bold">{% translate "Is this is a autoflowering strain?" %}</span>
                {% if strain.is_automatic %}{% translate "Yes" %}{% else %}{% translate "No" %}{% endif %}
            </li>
            <li>
                <span class="fw-bold">{% translate "Can one get regular seeds?" %}</span>
                {% if strain.is_regular %}{% translate "Yes" %}{% else %}{% translate "No" %}{% endif %}
            </li>
            <li>
                <span class="fw-bold">{% translate "Can one get feminized seeds?" %}</span>
                {% if strain.is_feminized %}{% translate "Yes" %}{% else %}{% translate "No" %}{% endif %}
            </li>
            <li>
                <span class="fw-bold">{% translate "Is this a clone-only strain?" %}</span>
                {% if not strain.is_feminized and not strain.is_regular %}
                    {% translate "Yes" %}
                {% else %}
                    {% translate "No" %}
                {% endif %}
            </li>
        </ul>
    </p>

    <p>
        {% if strain.strain_url %}
        <a class="{% if strain.seedfinder_url %}me-2{% endif %}" href="{{ strain.strain_url }}">{% translate "Strain Homepage" %}</a>
        {% endif %}
        {% if strain.seedfinder_url %}
        <a href="{{ strain.seedfinder_url }}">{% translate "View on SeedFinder.eu" %}</a>
        {% endif %}
    </p>
    {% if strain.has_description %}
    <h2>{% translate "Strain description" %}</h2>
    {{ strain.description_html }}
    {% endif %}
</div>


{% if request.user.is_authenticated %}
{% if strain.is_regular or strain.is_feminized %}
<h2>{% translate "Seeds in stock" %}</h2>
<div id="seeds-in-stock-div">
<table class="{% if use_bootstrap %}table{% endif %}" id="seeds-in-stock-table">
    <thead>
        <tr class="{% if use_bootstrap %}table-secondary{% endif %}">
            <th>{% translate "Seed type"%}</th>
            <th>{% translate "Quantity" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="{% if use_bootstrap %}table-group-divider{% endif %}">
    {% if strain.is_regular %}
        <tr>
            <td>{% translate "Regular seeds" %}</td>
            <td>
                {% blocktranslate count n=regular_seeds_in_stock %}
                {{ n }} seed
                {% plural %}
                {{ n }} seeds
                {% endblocktranslate %}
            </td>
            <td>
                {% if use_bootstrap %}
                <div class="text-end">
                    <a href="#"
                        hx-get="{% url 'grow:hx-strain-add-to-stock' strain=strain.pk feminized=0 %}"
                        hx-swap="innerHTML"
                        hx-target="#modals-here"
                        hx-trigger="click"
                        data-bs-toggle="modal"
                        data-bs-target="#modals-here"
                        class="link-body-emphasis
                            link-opacity-50
                            link-opacity-100-hover
                            link-underline-opacity-0"
                    ><i class="bi bi-plus-circle"
                            data-bs-toggle="tooltip"
                            data-bs-placement="left"
                            data-bs-title="Add regular seeds to stock."></i>
                    </a>
                {% else %}
                    <a href="{% url 'grow:strain-add-to-stock' strain=strain.pk feminized=0 %}">
                        {% translate "add seeds" %}
                    </a>
                {% endif %}
                {% if use_bootstrap %}
                    <a href="#"
                        hx-get="{% url 'grow:hx-strain-remove-from-stock' strain=strain.pk feminized=0 %}"
                        hx-swap="innerHTML"
                        hx-target="#modals-here"
                        hx-trigger="click"
                        data-bs-toggle="modal"
                        data-bs-target="#modals-here"
                        class="link-body-emphasis
                            link-opacity-50
                            link-opacity-100-hover
                            link-underline-opacity-0"
                    ><i class="bi bi-dash-circle"
                        data-bs-toggle="tooltip"
                        data-bs-title="Remove regular seeds from stock."
                        data-bs-placement="left"></i>
                    </a>
                </div>
                {% else %}
                <a href="{% url 'grow:strain-remove-from-stock' strain=strain.pk feminized=0 %}">
                    {% translate "remove seeds" %}
                </a>
                {% endif %}
            </td>
        </tr>
    {% endif %}
        {% if strain.is_feminized %}
        <tr>
            <td>{% translate "Feminized seeds" %}</td>
            <td>
                {% blocktranslate count n=feminized_seeds_in_stock %}
                {{ n }} seed
                {% plural %}
                {{ n }} seeds
                {% endblocktranslate %}
            </td>
            <td>
                {% if use_bootstrap %}
                <div class="text-end">
                    <a href="#"
                        hx-get="{% url 'grow:hx-strain-add-to-stock' strain=strain.pk feminized=1 %}"
                        hx-swap="innerHTML"
                        hx-target="#modals-here"
                        data-bs-toggle="modal"
                        data-bs-target="#modals-here"
                        class="link-body-emphasis
                        link-opacity-50
                        link-opacity-100-hover
                        link-underline-opacity-0"
                    ><i class="bi bi-plus-circle"
                        data-bs-toggle="tooltip"
                        data-bs-title="Add feminized seeds to stock."
                        data-bs-placement="left"></i>
                    </a>
                {% else %}
                    <a href="{% url 'grow:strain-add-to-stock' strain=strain.pk feminized=0 %}">
                        {% translate "add seeds" %}
                    </a>
                {% endif %}
                {% if use_bootstrap %}
                    <a href="#"
                        hx-get="{% url 'grow:hx-strain-remove-from-stock' strain=strain.pk feminized=1 %}"
                        hx-swap="innerHTML"
                        hx-target="#modals-here"
                        data-bs-toggle="modal"
                        data-bs-target="#modals-here"
                        class="link-body-emphasis
                        link-opacity-50
                        link-opacity-100-hover
                        link-underline-opacity-0"
                    ><i class="bi bi-dash-circle"
                            data-bs-toggle="tooltip"
                            data-bs-title="Remove feminized seeds from stock."
                            data-bs-placement="left"></i>
                    </a>
                </div>
                {% else %}
                <a href="{% url 'grow:strain-remove-from-stock' strain=strain.pk feminized=1 %}">
                    {% translate "remove seeds" %}
                </a>
                {% endif %}
            </td>
        </tr>
    {% endif %}
    </tbody>
    <tfoot class="{% if use_bootstrap %}table-group-divider{% endif %}">
        <tr>
            <th>{% translate "Total seeds" %}</th>
            <th colspan=2 class="{% if use_bootstrap %}text-end{% endif %}">
                {% blocktranslate count n=total_seeds_in_stock%}
                {{ n }} seed
                {% plural %}
                {{ n }} seeds
                {% endblocktranslate %}
            </th>
        </tr>
    </tfoot>
</table>
</div>
{% endif %}{# strain has seeds #}
{% endif %}{# request.user.is_authenticated #}

<h2>Growlogs</h2>
{% if growlogs %}
<table class="{% if use_bootstrap%}table{% endif %}">
    <thead>
        <tr>
            <th>
                <div class="{% if use_bootstrap%}text-truncate{% endif %}">
                </div>
            </th>
        </tr>
    </thead>
    <tbody class="{% if use_bootstrap %}table-group-divider{% endif %}">
    </tbody>
</table>
{% else %}
<p class="">
{% blocktranslate %}
There are currently no growlogs for this strain, at least none you are allowed to view.
You could grow this strain yourself and add a growlog for the members here, so they
can see how this strain grows and flowers. Others might want to learn from what you are doing.
{% endblocktranslate %}
</p>
{% endif %}

{% endblock content %}