{% extends base_template %}
{% load i18n widget_tweaks %}
{% block subtitle %}{% translate "Upload Image for Grow Log Entry" %}{% endblock subtitle %}

{% block content %}
<h1>{% translate "Upload Image for Grow Log Entry" %}</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group mb-3">
        <span class="input-group-text" id="image-upload-label">
            <i class="bi bi-image"></i>
            {% translate "Select Image" %}
        </span>
        {% render_field form.image class="form-control" %}
    </div>
    <div class="mb-3">
        {% render_field form.is_plant_image class="form-check-input mb-0 me-2" %}
        <label class="form-check-label" for="{{ form.is_plant_image.id_for_label }}">
            {% translate "This image is of the plant." %}
        </label>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="description-type-label">
            <i class="bi bi-card-text"></i>
            {% translate "Description Type" %}
        </span>
        {% render_field form.description_type_data class="form-select" %}
    </div>
    <div class="form-floating mb-3">
        {% render_field form.description class="form-control" %}
        <label for="{{ form.description.id_for_label }}">
            {% translate "Image Description" %}
        </label>
    </div>

    <button type="submit" class="btn btn-primary mt-3">
        <i class="bi bi-upload"></i>
        {% translate "Upload Image" %}
    </button>
    <button type="button" class="btn btn-secondary mt-3 ms-2" onclick="history.back()">
        <i class="bi bi-x"></i>
        {% translate "Cancel" %}
    </button>
</form>
{% endblock %}