{% extends base_template %}
{% load i18n widget_tweaks %}

{% block content %}
<h1>{% block page_title %}{% endblock page_title %}</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if use_bootstrap %}
    <div class="form-floating form-floating-lg mb-3">
        {% render_field form.name class="form-control" placeholder=form.name.label %}
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">{% translate "Permissions" %}</span>
        {% render_field form.permission_data class="form-control" %}
        <label for="{{ form.permission_data.id_for_label }}" class="visually-hidden">{{ form.permission_data.label }}</label>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">{% translate "Description Type" %}</span>
        {% render_field form.description_type_data class="form-control" %}
        <label for="{{ form.description_type_data.id_for_label }}" class="visually-hidden">{{ form.description_type.label }}</label>
    </div>
    <div class="form-floating mb-3">
        {% render_field form.description class="form-control" placeholder=form.description.label style="height: 300px;" %}
        <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">{% translate "Notes type" %}</span>
        {% render_field form.notes_type_data class="form-control" %}
        <label for="{{ form.notes_type_data.id_for_label }}" class="visually-hidden">{{ form.notes_type_data.label }}</label>
    </div>
    <div class="form-floating mb-3">
        {% render_field form.notes class="form-control" placeholder=form.notes.label style="height: 280px;" %}
        <label for="{{ form.notes.id_for_label }}">{{ form.notes.label }}</label>
    </div>
    {% else %}
    {{ form.as_table }}
    {% endif %}

{% block form_buttons %}{% endblock form_buttons %}
{% endblock content%}
