{% extends base_template %}
{% load i18n %}
{% block subtitle %}{% translate "Grow Log" %}{% endblock subtitle %}

{% block content %}
<h1>{{ growlog.name }}</h1>
<div class="mb-3">
    <a href="#{#{% url 'grow:growlog-update' pk=growlog.id %}#}" class="btn btn-outline-primary"
        bs-toggle="tooltip" bs-placement="bottom" bs-title="{% translate 'Edit Grow Log' %}"
    ><i class="bi bi-pencil-square"></i></a>
    <a href="#{#{% url 'grow:growlog-delete' pk=growlog.id %}#}" class="btn btn-outline-danger"
        bs-toggle="tooltip" bs-placement="bottom" bs-title="{% translate 'Delete Grow Log' %}"
    ><i class="bi bi-trash"></i></a>
</div>
<p>
    {% if growlog.grower == request.user %}
    {% translate "This is the grow log for your cultivation activities. Here you can track and manage your grows." %}
    {% else %}
    {% blocktranslate with grower_name=growlog.grower.username %}This is the grow log for {{ grower_name }}'s cultivation activities. Here you can track and manage their grows.{% endblocktranslate %}
    {% endif %}
</p>
<p>
    {% if can_edit %}
    <a href="#personal-notes" class="link-success"><i class="bi bi-arrow-down"></i> {% translate "Go to Personal Notes" %}</a><br>
    {% endif %}
    <a href="#description" class="link-success"><i class="bi bi-arrow-down"></i> {% translate "Go to Description" %}</a><br>
    <a href="#entries" class="link-success"><i class="bi bi-arrow-down"></i> {% translate "Go to Entries" %}</a>
</p>

<h2>{% translate "Strains" %}</h2>
<div id="growlog-strains">
{% include strains_template %}
</div>

{% if request.user == growlog.grower %}
<h2 id="personal-notes">{% translate "Personal Notes" %}</h2>
<div class="alert alert-warning" role="alert">
    {% translate "These notes are only visible to you!" %}
</div>
<div>
    <button type="button" class="btn btn-sm btn-outline-primary mb-3"
        hx-get="{% url 'grow:hx-growlog-edit-notes' pk=growlog.id %}"
        hx-target="#modals-here"
        hx-swap="innerHTML"
        data-bs-target="#modals-here"
        data-bs-toggle="modal"
    ><span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{% translate 'Edit Personal Notes' %}">
        <i class="bi bi-pencil-square"></i> {% translate "Edit Personal Notes" %}
    </span></button>
</div>

<div id="growlog-notes">{% include notes_template %}</div>

{% endif %}

<h2 id="description">{% translate "Description" %}</h2>
<button type="button" class="btn btn-sm btn-outline-primary mb-3"
    hx-get="{% url 'grow:hx-growlog-edit-description' pk=growlog.id %}"
    hx-target="#modals-here"
    hx-swap="innerHTML"
    data-bs-target="#modals-here"
    data-bs-toggle="modal"
><span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{% translate 'Edit Description' %}">
    <i class="bi bi-pencil-square"></i> {% translate "Edit Description" %}
</span></button>

<div id="growlog-description">{% include description_template %}</div>

<h2 id="entries">{% translate "Entries" %}</h2>
{% if can_edit %}
<div class="mb-3">
    <button type="button" class="btn btn-outline-primary btn-sm"
        href="#{#{% url 'grow:growlog-entry-create' growlog_pk=growlog.id %}#}"
    ><i class="bi bi-plus-square"></i> {% translate "Add Entry" %}</button>
</div>
{% endif %}
<div id="growlog-entries">
    {% include entries_template %}
</div>
{% endblock content %}
