{% load i18n widget_tweaks %}
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header bg-success text-white">
      <h5 class="modal-title">{% translate "Add seeds to grow log" %}</h5>
      <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form method="post">
        <div class="modal-body">
            {% csrf_token %}
            <div>
                {% if use_bootstrap %}
                    <div class="input-group mb-3">
                        <span class="input-group-text">{% translate "Filter" %}</span>
                        {% render_field form.strain_filter class="form-control" %}
                        <label for="{{ form.strain_filter.id_for_label }}" class="visually-hidden">{{ form.strain_filter.label }}</label>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">{% translate "Strain" %}</span>
                        {% render_field form.seeds_in_stock class="form-control" %}
                        <label for="{{ form.seeds_in_stock.id_for_label }}" class="visually-hidden">{{ form.seeds_in_stock.label }}</label>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">{% translate "Quantity" %}</span>
                        {% render_field form.quantity class="form-control" %}
                        <label for="{{ form.quantity.id_for_label }}" class="visually-hidden">{{ form.quantity.label }}</label>
                    </div>
                {% else %}
                    {{ form.as_table }}
                {% endif %}
            </div>
        </div>
        <div class="modal-footer text-end">
            {% if use_bootstrap %}
            <button class="btn btn-success" type="submit" hx-post="{% url 'grow:hx-growlog-add-seeds' growlog.pk %}" hx-target="#growlog-strain-info" hx-swap="outerHTML" data-bs-dismiss="modal">{% translate "Add seeds" %}</button>
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
            {% else %}
            <div class="form-buttons">
                <button type="submit">{% translate "Add seeds" %}</button>
                <button type="button" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
            </div>
            {% endif %}
        </div>
    </form>
  </div>
</div>