{% load i18n %}
<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <h5 class="card-title mb-0">{% translate "Grow log entries" %}</h5>
            </div>
            <div class="col-6 d-flex justify-content-end text-end">
                <nav aria-label="{% translate 'Grow log entries pagination' %}">
                    <ul class="pagination mb-0">
                    {% if not growlog_entries_n_pages or growlog_entries_n_pages <= 1 %}
                        <li class="page-item active disabled" aria-current="page">
                            <button type="button" class="btn btn-outline-secondary disabled">1</button>
                        </li>
                    {% else %}
                        <li class="page-item {% if growlog_entries_current_page == 1 %}active disabled{% endif %}" aria-current="page">
                            <button type="button" class="btn btn-outline-secondary disabled">{{ growlog_entries_current_page }}</button>
                        </li>
                        {% if growlog_entries_current_page < growlog_entries_n_pages %}
                            {% if growlog_entries_current_page  > 2 %}
                        <li>
                            <button type="button"
                                hx-get="{% url 'grow:hx-growlog-entries' pk=growlog.pk %}?page=1&paginate={{ growlog_entries_paginate}}"
                                hx-target="#growlog-entries"
                                hx-swap="innerHTML"
                                class="btn btn-outline-primary page-link"
                            ><i class="bi bi-chevron-double-left"></i></button>
                        </li>
                            {% endif %}
                        {% endif %}
                        <li>
                            <button type="button"
                                class="btn btn-outline-primary page-link bi-outline-primary page-link disabled"
                            ><i class="bi bi-chevron-left"></i></button>
                        </li>
                        {% if growlog_entries_current_page < growlog_entries_n_pages %}
                        <li>
                            <button type="button"
                                hx-get="{% url 'grow:hx-growlog-entries' pk=growlog.pk %}?page={{ growlog_entries_current_page|add:1 }}&paginate={{ growlog_entries_paginate}}"
                                hx-target="#growlog-entries"
                                hx-swap="innerHTML"
                                class="btn btn-outline-primary page-link"
                            ><i class="bi bi-chevron-right"></i></button>
                        </li>
                            {% if growlog_entries_current_page < growlog_entries_n_pages|add:-1 %}
                        <li>
                            <button type="button"
                                hx-get="{% url 'grow:hx-growlog-entries' pk=growlog.pk %}?page={{ growlog_entries_n_pages }}&paginate={{ growlog_entries_paginate}}"
                                hx-target="#growlog-entries"
                                hx-swap="innerHTML"
                                class="btn btn-outline-primary page-link"
                            ><i class="bi bi-chevron-double-right"></i></button>
                        </li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="card-body">
        {% for entry in growlog_entries %}
        <div class="card mb-3 w-100 m-3-auto">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">{{ entry.date|date:"x X" }}
                        {% if entry.growlog.flowering_at %}
                        ({% blocktranslate count n=entry.growlog.flowering_days %}{{ n }} day{% plural %}{{ n }} days{% endblocktranslate %})
                        {% endif %}
                    </h5>
                    <div class="text-end">
                        <a href="#{#{% url 'grow:growlog-entry-update' pk=entry.id %}#}" class="btn btn-sm btn-outline-primary"
                            bs-toggle="tooltip" bs-placement="bottom" bs-title="{% translate 'Edit Entry' %}"
                        ><i class="bi bi-pencil-square"></i></a>
                        <a href="#{#{% url 'grow:growlog-entry-delete' pk=entry.id %}#}" class="btn btn-sm btn-outline-danger"
                            bs-toggle="tooltip" bs-placement="bottom" bs-title="{% translate 'Delete Entry' %}"
                        ><i class="bi bi-trash"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{ entry.content_html }}
            </div>
        </div>
        {% empty %}
        <p>{% translate "No entries available." %}</p>
        {% endfor %}
    </div>
</div>
