{% extends base_template %}
{% block content %}
{% load i18n %}
{% block head_title %}{{ grow_head_title }}{% endblock %}
{% block title %}{{ grow_site_title }}: {% blocktranslate with name=breeder.name %}Delete breeder {{ name }}{% endblocktranslate %}{% endblock %}

<form method="post">
    {% csrf_token %}
{% translate "Delete Breeder" as delete_breeder_label %}
    <p>
        {% blocktranslate with slug=breeder.slug name=breeder.name %}If you really want to delete breeder {{ name }} type <i>{{ slug }}</i> in the field below and hit the {{ delete_breeder_label }} button.{% endblocktranslate %}
    </p>

    {{ form.as_p }}

    <div class="form-buttons" id="form-buttons">
        <button type="submit">
            {{ delete_breeder_label }}
        </button>
        <button type="button" onclick="location.href='{% url 'grow:breeder-overview' %}'">
            {% translate "Back to breeder overview" %}
        </button>
        <button type="button" onclick="location.href='{% url 'grow:breeder-detail' slug=breeder.slug %}'">
            {% translate "Back to breeder" %}
        </button>
    </div>
</form>
{% endblock %}