{% load i18n%}
<p>
    {% blocktranslate count n=n_seeds_in_stock %}You currently have one seed in stock.{% plural %}You currently have {{ n }} seeds in stock.{% endblocktranslate %}
    {% if n_seeds_in_stock > 0 %}
    {% if n_feminized_seeds_in_stock > 0 and n_regular_seeds_in_stock > 0 %}
    {% blocktranslate count n=n_feminized_seeds_in_stock %}Of them, one is feminized.{% plural %}Of them, {{ n }} are feminized.{% endblocktranslate %}
    {% blocktranslate count n=n_regular_seeds_in_stock %}Of them, one is regular.{% plural %}Of them, {{ n }} are regular.{% endblocktranslate %}
    {% elif n_feminized_seeds_in_stock == 0 %}
    {% blocktranslate %}All of them are regular.{% endblocktranslate %}
    {% elif n_regular_seeds_in_stock == 0 %}
    {% blocktranslate %}All of them are feminized.{% endblocktranslate %}
    {% endif %}
    {% if n_autoflowering_seeds_in_stock > 0 %}
        {% if n_photoperiod_seeds_in_stock == 0 %}
    {% blocktranslate %}All of your seeds are autoflowering.{% endblocktranslate %}
        {% else %}
    {% blocktranslate count n=n_autoflowering_seeds_in_stock %}One is an autoflowering seed.{% plural %}{{ n }} are autoflowering seeds.{% endblocktranslate %}
        {% endif %}
    {% else %}
    {% blocktranslate %}You have no autoflowering seeds in stock.{% endblocktranslate %}
    {% endif %}
    {% if n_photoperiod_seeds_in_stock > 0 %}
        {% if n_autoflowering_seeds_in_stock == 0 %}
    {% blocktranslate %}All of your seeds are photoperiod.{% endblocktranslate %}
        {% else %}
    {% blocktranslate count n=n_photoperiod_seeds_in_stock %}One is a photoperiod seed.{% plural %}{{ n }} are photoperiod seeds.{% endblocktranslate %}
        {% endif %}
    {% else %}
    {% blocktranslate %}You have no photoperiod seeds in stock.{% endblocktranslate %}
    {% endif %}
    {% endif %}
</p>
<p>
    {% blocktranslate %}You can add more seeds to your stock in the strain detail page.{% endblocktranslate %}
</p>
<div class="mb-3 accordion" id="seedsInStockAccordion">
<div class="accordion-item">
    <h3 class="accordion-header" id="seedsInStockAccordionHeader">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#seedsInStockAccordionContent" aria-expanded="true" aria-controls="seedsInStockAccordionContent">
            <span class="h5">{% translate "Show seeds in stock" %}</span>
        </button>
    </h3>
    <div id="seedsInStockAccordionContent" class="accordion-collapse collapse show" aria-labelledby="seedsInStockAccordionHeader" data-bs-parent="#seedsInStockAccordion">
        <div class="accordion-body p-0">
            <table class="{% if use_bootstrap %}table table-hover{% endif %}">
                <thead>
                    <tr class="{% if use_bootstrap %}table-success{% endif %}">
                        <th>{% translate "Strain" %}</th>
                        <th>{% translate "Type" %}</th>
                        <th>{% translate "Genotype" %}</th>
                        <th>{% translate "Flowering time" %}</th>
                        <th>{% translate "Quantity" %}</th>
                        <th>{% translate "Actions" %}</th>
                    </tr>
                </thead>
                <tbody class="{% if use_bootstrap %}table-group-divider{% endif %}" id="seeds-in-stock-table-body">
                {% for seed in seeds_in_stock %}
                    <tr>
                        <td>
                            <a href="{% url 'grow:strain-detail' breeder_slug=seed.strain.breeder.slug slug=seed.strain.slug %}">{{ seed.strain.name }}</a>
                            (<a href="{% url 'grow:breeder-detail' slug=seed.strain.breeder.slug %}">{{ seed.strain.breeder.name }}</a>)</td>
                        </td>
                        <td>
                            {% if seed.strain.is_feminized %}{% translate "feminized" %}{% else %}{% translate "regular" %}{% endif %}{% if seed.strain.is_autoflowering %}, {% translate "autoflowering" %}{% endif %}
                        </td>
                        <td>{{ seed.strain.genotype.name }}</td>
                        <td>{% blocktranslate count n=seed.strain.flowering_time_days %}One day{% plural %}{{ n }} days{% endblocktranslate %}</td>
                        <td>{{ seed.quantity }}</td>
                        <td>
                            <a href="#"
                                hx-get="{% url 'grow:hx-strain-stock-notes' pk=seed.pk %}"
                                hx-target="#modals-here"
                                hx-swap="innerHTML"
                                data-bs-toggle="modal"
                                data-bs-target="#modals-here"
                                class="link-body-emphasis link-opacity-50 link-opacity-100-hover link-underline-opacity-0"
                            ><i class="bi bi-journal-text"
                                data-bs-toggle="tooltip"
                                data-bs-title="{% translate 'Show notes.' %}"
                                data-bs-placement="left"></i>
                            </a>
                            <a href="#"
                                hx-get="{% if seed.is_feminized %}{% url 'grow:hx-user-add-seeds-to-stock' strain=seed.strain.pk feminized=1 %}{% else %}{% url 'grow:hx-user-add-seeds-to-stock' strain=seed.strain.pk feminized=0 %}{% endif %}"
                                hx-target="#modals-here"
                                hx-swap="innerHTML"
                                data-bs-toggle="modal"
                                data-bs-target="#modals-here"
                                class="link-body-emphasis link-opacity-50 link-opacity-100-hover link-underline-opacity-0"
                            ><i class="bi bi-plus-circle"
                                data-bs-toggle="tooltip"
                                data-bs-title="{% translate 'Add seeds to stock.' %}"
                                data-bs-placement="left"></i>
                            </a>
                            <a href="#"
                                hx-get="{% if seed.is_feminized %}{% url 'grow:hx-strain-remove-from-stock' strain=seed.strain.pk feminized=1 %}{% else %}{% url 'grow:hx-strain-remove-from-stock' strain=seed.strain.pk feminized=0 %}{% endif %}"
                                hx-target="#modals-here"
                                hx-swap="innerHTML"
                                data-bs-toggle="modal"
                                data-bs-target="#modals-here"
                                class="link-body-emphasis link-opacity-50 link-opacity-100-hover link-underline-opacity-0"
                            ><i class="bi bi-dash-circle"
                                data-bs-toggle="tooltip"
                                data-bs-title="{% translate 'Remove seeds from stock.' %}"
                                data-bs-placement="left"></i>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="table-warning">{% translate "You have no seeds in stock." %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>