{% extends base_template %}
{% load i18n %}

{% block title %}{{ grow_site_title }}: <span class="{% if use_bootstrap %}fs-2{% endif %}">{% translate "User Information" %}</span>{% endblock title %}
{% block head_title %}{{ grow_head_title }}{% endblock %}

{% block content %}
<main>
<h1>{% translate "My Grow" %}</h1>
<h2>{% translate "User Information" %}</h2>
<table class="{% if use_bootstrap %}table{% endif %}">
    <tr>
        <th class="{% if use_bootstrap %}table-success fit-content{% endif %}">{% translate "Username" %}</th>
        <td>{{ request.user.username }}</td>
    </tr>
    <tr>
        <th class="{% if use_bootstrap %}table-success fit-content{% endif %}">{% translate "Email" %}</th>
        <td>{{ request.user.email }}</td>
    </tr>
    {% if request.user.first_name %}
    <tr>
        <th class="{% if use_bootstrap %}table-success fit-content{% endif %}">{% translate "First name" %}</th>
        <td>{{ request.user.first_name }}</td>
    </tr>
    {% endif %}
    {% if request.user.last_name %}
    <tr>
        <th class="{% if use_bootstrap %}table-success fit-content{% endif %}">{% translate "Last name" %}</th>
        <td>{{ request.user.last_name }}</td>
    </tr>
    {% endif %}
</table>

<h2>{% translate "My seeds in stock" %}</h2>
<div id="seeds-in-stock-info">
    <p>
        {% blocktranslate count n=n_seeds_in_stock %}You currently have one seed in stock.{% plural %}You currently have {{ n }} seeds in stock.{% endblocktranslate %}
        {% if n_seeds_in_stock > 0 %}
        {% if n_feminized_seeds_in_stock > 0 and n_regular_seeds_in_stock > 0 %}
        {% blocktranslate count n=n_feminized_seeds_in_stock %}Of them, one is feminized.{% plural %}Of them, {{ n }} are feminized.{% endblocktranslate %}
        {% blocktranslate count n=n_regular_seeds_in_stock %}Of them, one is regular.{% plural %}Of them, {{ n }} are regular.{% endblocktranslate %}
        {% elif n_feminized_seeds_in_stock == 0 %}
        {% blocktranslate %}All of them are regular.{% endblocktranslate %}
        {% elif n_regular_seeds_in_stock == 0 %}
        {% blocktranslate %}All of them are feminized.{% endblocktranslate %}
        {% endif %}
        {% if n_autoflowering_seeds_in_stock > 0 %}
            {% if n_photoperiod_seeds_in_stock == 0 %}
        {% blocktranslate %}All of your seeds are autoflowering.{% endblocktranslate %}
            {% else %}
        {% blocktranslate count n=n_autoflowering_seeds_in_stock %}One is an autoflowering seed.{% plural %}{{ n }} are autoflowering seeds.{% endblocktranslate %}
            {% endif %}
        {% else %}
        {% blocktranslate %}You have no autoflowering seeds in stock.{% endblocktranslate %}
        {% endif %}
        {% if n_photoperiod_seeds_in_stock > 0 %}
            {% if n_autoflowering_seeds_in_stock == 0 %}
        {% blocktranslate %}All of your seeds are photoperiod.{% endblocktranslate %}
            {% else %}
        {% blocktranslate count n=n_photoperiod_seeds_in_stock %}One is a photoperiod seed.{% plural %}{{ n }} are photoperiod seeds.{% endblocktranslate %}
            {% endif %}
        {% else %}
        {% blocktranslate %}You have no photoperiod seeds in stock.{% endblocktranslate %}
        {% endif %}
        {% endif %}
    </p>
    <p>
        {% blocktranslate %}You can add more seeds to your stock in the strain detail page.{% endblocktranslate %}
    </p>
        {% if n_seeds_in_stock > 0 %}
        <div class="mb-3 accordion" id="seedsInStockAccordion">
        <div class="accordion-item">
            <h3 class="accordion-header" id="seedsInStockAccordionHeader">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#seedsInStockAccordionContent" aria-expanded="false" aria-controls="seedsInStockAccordionContent">
                    <span class="h5">{% translate "Show seeds in stock" %}</span>
                </button>
            </h3>
            <div id="seedsInStockAccordionContent" class="accordion-collapse collapse" aria-labelledby="seedsInStockAccordionHeader" data-bs-parent="#seedsInStockAccordion">
                <div class="accordion-body p-0">
                    <table class="{% if use_bootstrap %}table table-hover{% endif %}">
                        <thead>
                            <tr class="{% if use_bootstrap %}table-success{% endif %}">
                                <th>{% translate "Strain" %}</th>
                                <th>{% translate "Type" %}</th>
                                <th>{% translate "Genotype" %}</th>
                                <th>{% translate "Flowering time" %}</th>
                                <th>{% translate "Quantity" %}</th>
                                <th>{% translate "Actions" %}</th>
                            </tr>
                        </thead>
                        <tbody class="{% if use_bootstrap %}table-group-divider{% endif %}" id="seeds-in-stock-table-body">
                        {% for seed in seeds_in_stock %}
                            <tr>
                                <td>
                                    <a href="{% url 'grow:strain-detail' breeder_slug=seed.strain.breeder.slug slug=seed.strain.slug %}">{{ seed.strain.name }}</a>
                                    (<a href="{% url 'grow:breeder-detail' slug=seed.strain.breeder.slug %}">{{ seed.strain.breeder.name }}</a>)</td>
                                </td>
                                <td>
                                    {% if seed.strain.is_feminized %}{% translate "feminized" %}{% else %}{% translate "regular" %}{% endif %}{% if seed.strain.is_autoflowering %}, {% translate "autoflowering" %}{% endif %}
                                </td>
                                <td>{{ seed.strain.genotype.name }}</td>
                                <td>{% blocktranslate count n=seed.strain.flowering_time_days %}One day{% plural %}{{ n }} days{% endblocktranslate %}</td>
                                <td>{{ seed.quantity }}</td>
                                <td>
                                    <a href="#"
                                        hx-get="{% url 'grow:hx-strain-stock-notes' pk=seed.pk %}"
                                        hx-target="#modals-here"
                                        hx-swap="innerHTML"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modals-here"
                                        class="link-body-emphasis link-opacity-50 link-opacity-100-hover link-underline-opacity-0"
                                    ><i class="bi bi-journal-text"
                                        data-bs-toggle="tooltip"
                                        data-bs-title="{% translate 'Show notes.' %}"
                                        data-bs-placement="left"></i>
                                    </a>
                                    <a href="#"
                                        hx-get="{% if seed.is_feminized %}{% url 'grow:hx-user-add-seeds-to-stock' strain=seed.strain.pk feminized=1 %}{% else %}{% url 'grow:hx-user-add-seeds-to-stock' strain=seed.strain.pk feminized=0 %}{% endif %}"
                                        hx-target="#modals-here"
                                        hx-swap="innerHTML"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modals-here"
                                        class="link-body-emphasis link-opacity-50 link-opacity-100-hover link-underline-opacity-0"
                                    ><i class="bi bi-plus-circle"
                                        data-bs-toggle="tooltip"
                                        data-bs-title="{% translate 'Add seeds to stock.' %}"
                                        data-bs-placement="left"></i>
                                    </a>
                                    <a href="#"
                                        hx-get="{% if seed.is_feminized %}{% url 'grow:hx-user-remove-seeds-from-stock' strain=seed.strain.pk feminized=1 %}{% else %}{% url 'grow:hx-user-remove-seeds-from-stock' strain=seed.strain.pk feminized=0 %}{% endif %}"
                                        hx-target="#modals-here"
                                        hx-swap="innerHTML"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modals-here"
                                        class="link-body-emphasis link-opacity-50 link-opacity-100-hover link-underline-opacity-0"
                                    ><i class="bi bi-dash-circle"
                                        data-bs-toggle="tooltip"
                                        data-bs-title="{% translate 'Remove seeds from stock.' %}"
                                        data-bs-placement="left"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5" class="table-warning">{% translate "You have no seeds in stock." %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}{# n_seeds_in_stock > 0 #}

<h2>{% translate "My grow logs" %}</h2>
<p>
{% blocktranslate count n=n_growlogs %}You currently have one grow log.{% plural %}You currently have {{ n }} grow logs.{% endblocktranslate %}
{% blocktranslate count n=n_finished_growlogs %}One of them is finished.{% plural %}{{ n }} of them are finished.{% endblocktranslate %}
{% blocktranslate count n=n_active_growlogs %}One of them is still active.{% plural %}{{ n }} of them are still active.{% endblocktranslate %}
</p>
{% if n_active_growlogs > 0 %}
<div class="mb-3 accordion" id="activeGrowLogsAccordion">
    <div class="accordion-item">
        <h3 class="accordion-header" id="activeGrowLogsAccordionHeader">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#activeGrowLogsAccordionContent" aria-expanded="false" aria-controls="activeGrowLogsAccordionContent">
                <span class="h5">{% translate "Show active grow logs" %}</span>
            </button>
        </h3>
        <div id="activeGrowLogsAccordionContent" class="accordion-collapse collapse" aria-labelledby="activeGrowLogsAccordionHeader" data-bs-parent="#activeGrowLogsAccordion">
            <div class="accordion-body p-0">
                <table class="{% if use_bootstrap %}table table-hover{% endif %}">
                    <thead>
                        <tr class="{% if use_bootstrap %}table-success{% endif %}">
                            <th>{% translate "Name" %}</th>
                            <th>{% translate "Started at" %}</th>
                            <th>{% translate "Age" %}</th>
                            <th>{% translate "Flowering time" %}</th>
                        </tr>
                    </thead>
                    <tbody class="{% if use_bootstrap %}table-group-divider{% endif %}">
                    {% for grow_log in active_grow_logs %}
                        <tr>
                            <td>
                                <a href="#">{{ grow_log.name }}</a>
                            </td>
                        <td>{{ grow_log.started_at|date:"SHORT_DATE_FORMAT" }}</td>
                        <td>{% blocktranslate count n=grow_log.age %}One day old.{% plural %}{{ n }} days old.{% endblocktranslate %}</td>
                        <td>{% blocktranslate count n=grow_log.flowering_time %}One day.{% plural %}{{ n }} days.{% endblocktranslate %}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="table-warning">{% translate "You have no active grow logs." %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}{# n_active_growlogs > 0 #}
{% if n_finished_growlogs > 0 %}
<div class="mb-3 accordion" id="finishedGrowLogsAccordion">
    <div class="accordion-item">
        <h3 class="accordion-header" id="finishedGrowLogsAccordionHeader">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#finishedGrowLogsAccordionContent" aria-expanded="false" aria-controls="finishedGrowLogsAccordionContent">
                <span class="h5">{% translate "Show finished grow logs" %}</span>
            </button>
        </h3>
        <div id="finishedGrowLogsAccordionContent" class="accordion-collapse collapse" aria-labelledby="finishedGrowLogsAccordionHeader" data-bs-parent="#finishedGrowLogsAccordion">
            <div class="accordion-body p-0">
                <table class="{% if use_bootstrap %}table table-hover{% endif %}">
                    <thead>
                        <tr class="{% if use_bootstrap %}table-success{% endif %}">
                            <th>{% translate "Name" %}</th>
                            <th>{% translate "Started at" %}</th>
                            <th>{% translate "Finished at" %}</th>
                            <th>{% translate "Duration" %}</th>
                        </tr>
                    </thead>
                    <tbody class="{% if use_bootstrap %}table-group-divider{% endif %}">
                    {% for grow_log in finished_grow_logs %}
                        <tr>
                            <td>
                                <a href="#">{{ growlog.name }}</a>
                            </td>
                        <td>{{ grow_log.started_at|date:"SHORT_DATE_FORMAT" }}</td>
                        <td>{{ grow_log.finished_at|date:"SHORT_DATE_FORMAT" }}</td>
                        <td>{% blocktranslate count n=grow_log.duration %}One day.{% plural %}{{ n }} days.{% endblocktranslate %}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="table-warning">{% translate "You have no finished grow logs." %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}{# n_finished_growlogs > 0 #}
</main>
{% endblock content%}
