{% extends base_template %}
{% load static i18n widget_tweaks grow %}
{% block subtitle %}{% translate "Grow Log" %}{% endblock subtitle %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'grow/css/lightbox.min.css' %}">
{% endblock extra_css %}

{% block scripts %}
<script>
    pageURL.setVariables({
        "gle_pg": "{{ growlog_entries_paginator.current_page }}",
        "gle_pgn": "{{ growlog_entries_paginator.paginate_by }}",
        "gle_ord": "{{ growlog_entries_ordering }}",
        "gle_filter": "{{ growlog_entries_filter }}",
    });
</script>
{% endblock scripts %}

{% block body_scripts %}
<script src="{% static 'grow/js/lightbox.min.js' %}"></script>
{% endblock %}

{% block content %}


<h1>{{ growlog.name }}</h1>
{% if can_edit %}
<div class="mb-3">
    {% if not growlog.germinating_at and not growlog.cutted_at and not growlog.vegetative_at and not growlog.flowering_at and not growlog.harvested_at and not growlog.finished_at %}
    <form style="display:inline;" action="{% url 'grow:growlog-set-germinating-at' pk=growlog.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Start Germinating</button>
    </form>
    <form style="display:inline;" action="{% url 'grow:growlog-set-cutted-at' pk=growlog.id %}" method="post">
        {% csrf_token %}
        <button type="submit">{% translate 'Clone cutted' %}</button>
    </form>
    {% elif growlog.germinating_at and not growlog.vegetative_at and not growlog.flowering_at and not growlog.harvested_at and not growlog.finished_at %}
    <form style="display:inline;" action="{% url 'grow:growlog-unset-germinating-at' pk=growlog.id %}" method="post">
        {% csrf_token %}

        <button type="submit">{% translate 'Unset Germinating Date' %}</button>
    </form>
    {% elif growlog.cutted_at and not growlog.vegetative_at and not growlog.flowering_at and not growlog.harvested_at and not growlog.finished_at %}
    <form style="display:inline;" action="{% url 'grow:growlog-unset-cutted-at' pk=growlog.id %}" method="post">
        {% csrf_token %}
        <button type="submit">{% translate 'Unset Cutted Date' %}</button>
            <i class="bi bi-calendar-calendar-minus"></i>
        </button>
    </form>
    {% endif %}

    {% if not growlog.vegetative_at and not growlog.flowering_at and not growlog.harvested_at and not growlog.finished_at %}
    <form style="display:inline;" action="{% url 'grow:growlog-set-vegetative-at' pk=growlog.id %}" method="post">
        {% csrf_token %}
        <button type="submit">{% translate 'Start Vegetative stage' %}</button>
    </form>
    {% elif growlog.vegetative_at and not growlog.flowering_at and not growlog.harvested_at and not growlog.finished_at %}
    <form style="display:inline;" action="{% url 'grow:growlog-unset-vegetative-at' pk=growlog.id %}" method="post">
        {% csrf_token %}
        <button type="submit">{% translate 'Unset Vegetative stage' %}</button>
    </form>
    {% endif %}

    {% if not growlog.flowering_at and not growlog.harvested_at and not growlog.finished_at %}
    <form style="display:inline;" action="{% url 'grow:growlog-set-flowering-at' pk=growlog.id %}" method="post">
        {% csrf_token %}
        <button type="submit">{% translate 'Start Flowering stage' %}</button>
    </form>
    {% elif growlog.flowering_at and not growlog.harvested_at and not growlog.finished_at %}
    <form style="display:inline;" action="{% url 'grow:growlog-unset-flowering-at' pk=growlog.id %}" method="post">
        {% csrf_token %}
        <button type="submit">{% translate 'Unset Flowering stage' %}</button>
    </form>
    {% endif %}

    {% if not growlog.harvested_at and not growlog.finished_at %}
    <form style="display:inline;" action="{% url 'grow:growlog-set-harvested-at' pk=growlog.id %}" method="post">
        {% csrf_token %}
        <button type="submit">{% translate 'Set Harvested stage' %}</button>
    </form>
    {% elif growlog.harvested_at and not growlog.finished_at %}
    <form style="display:inline;" action="{% url 'grow:growlog-unset-harvested-at' pk=growlog.id %}" method="post">
        {% csrf_token %}
        <button type="submit">{% translate 'Unset Harvested stage' %}</button>
    </form>
    {% endif %}

    {% if not growlog.finished_at %}
    <form style="display:inline;" action="{% url 'grow:growlog-set-finished-at' pk=growlog.id %}" method="post">
        {% csrf_token %}
        <button type="submit">{% translate 'Set Finished stage' %}</button>
    </form>
    {% else %}
    <form style="display:inline;" action="{% url 'grow:growlog-unset-finished-at' pk=growlog.id %}" method="post">
        {% csrf_token %}
        <button type="submit">{% translate 'Unset Finished stage' %}</button>
    </form>
    {% endif %}

    <a href="{% url 'grow:growlog-update' pk=growlog.id %}">{% translate 'Edit Grow Log' %}</a>
    <a href="{% url 'grow:growlog-delete' pk=growlog.id %}">{% translate 'Delete Grow Log' %}</a>
</div>
{% endif %}

<p>
    {% if growlog.grower == request.user %}
    {% translate "This is the grow log for your cultivation activities. Here you can track and manage your grows." %}
    {% else %}
    {% blocktranslate with grower_name=growlog.grower.username %}This is the grow log for {{ grower_name }}'s cultivation activities. Here you can track his/her grows.{% endblocktranslate %}
    {% endif %}
</p>
<p>
    <a href="#growlog-strains">{% translate "Go to Strains" %}</a><br>
     {% if can_edit %}
     <a href="#personal-notes">{% translate "Go to Personal Notes" %}</a><br>
     {% endif %}
    {% if can_edit %}
    <a href="#personal-notes">{% translate "Go to Personal Notes" %}</a><br>
    {% endif %}
    <a href="#description">{% translate "Go to Description" %}</a><br>
    <a href="#entries">{% translate "Go to Entries" %}</a>
</p>


<h2>{% translate "Overview" %}</h2>
<div id="growlog-overview">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <th style="width:1%; white-space: nowrap;">{% translate "Grower" %}</th>
                <td>
                    {% if request.user == growlog.grower %}
                        <a href="{% url 'grow:user-info' %}">{{ growlog.grower.username }}</a>
                    {% else %}
                        {{ growlog.grower.username }}
                    {% endif %}
                </td>
                <th style="width:1%; white-space: nowrap;">{% translate "Permissions" %}</th>
                <td>
                    {% if can_edit %}
                        {% include "grow/growlog/growlog/hx/permission_update"|grow_template %}
                    {% else %}
                        {{ growlog.permission.name }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th style="width:1%; white-space: nowrap;">{% translate "Started on" %}</th>
                <td>
                    <time datetime="{{ growlog.started_at|date:"c" }}">{{ growlog.started_at|date:'DATETIME_FORMAT' }}</time>
                </td>
                <th style="width:1%; white-space: nowrap;">{% translate "Last update on" %}</th>
                <td>
                    <time datetime="{{ growlog.updated_at|date:"c" }}">{{ growlog.updated_at|date:'DATETIME_FORMAT' }}</time>
                </td>
            </tr>
            <tr>
                <th style="width:1%; white-space: nowrap;">{% translate "Current Stage" %}</th>
                <td >{{ growlog.current_stage }}</td>
                <th style="width:1%; white-space: nowrap;">{% translate "Duration" %}</th>
                <td>
                    {% if growlog.duration_days > 14 %}
                        {{ growlog.duration_display }}
                    {% else %}
                        {% blocktranslate count n=growlog.duration_days %}{{ n }} day{% plural %}{{ n }} days{% endblocktranslate %}
                    {% endif %}
            </tr>
            {% if growlog.germinating_at %}
            <tr>
                <th style="width:1%; white-space: nowrap;">{% translate "Germinating started on" %}</th>
                <td><time datetime="{{ growlog.germinating_at|date:"c" }}">{{ growlog.germinating_at|date:'DATE_FORMAT' }}</time></td>
                <th style="width:1%; white-space: nowrap;">{% translate "Germinating duration" %}</th>
                <td>
                    {% if growlog.germinating_days > 14 %}
                        {{ growlog.germinating_display }}
                    {% else %}
                        {% blocktranslate count n=growlog.germinating_days %}{{ n }} day{% plural %}{{ n }} days{% endblocktranslate %}
                    {% endif %}
                </td>
            </tr>
            {% elif growlog.cutted_at %}
            <tr>
                <th style="width:1%; white-space: nowrap;">{% translate "Cutted on" %}</th>
                <td><time datetime="{{ growlog.cutted_at|date:"c" }}">{{ growlog.cutted_at|date:'DATE_FORMAT' }}</time></td>
                <th style="width:1%; white-space: nowrap;">{% translate "Rooting duration" %}</th>
                <td>
                    {% if growlog.rooting_days > 14 %}
                        {{ growlog.rooting_display }}
                    {% else %}
                        {% blocktranslate count n=growlog.rooting_days %}{{ n }} day{% plural %}{{ n }} days{% endblocktranslate %}
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% if growlog.vegetative_at %}
            <tr>
                <th style="width:1%; white-space: nowrap;">{% translate "Vegetative stage started on" %}</th>
                <td><time datetime="{{ growlog.vegetative_at|date:"c" }}">{{ growlog.vegetative_at|date:'DATE_FORMAT' }}</time></td>
                <th style="width:1%; white-space: nowrap;">{% translate "Vegetative duration" %}</th>
                <td>
                    {% if growlog.vegetative_days > 14 %}
                        {{ growlog.vegetative_display }} ({% blocktranslate count n=growlog.vegetative_days %}{{ n }} day{% plural %}{{ n }} days{% endblocktranslate %})
                    {% else %}
                        {% blocktranslate count n=growlog.vegetative_days %}{{ n }} day{% plural %}{{ n }} days{% endblocktranslate %}
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% if growlog.flowering_at %}
            <tr>
                <th style="width:1%; white-space: nowrap;">{% translate "Flowering stage started on" %}</th>
                <td><time datetime="{{ growlog.flowering_at|date:"c" }}">{{ growlog.flowering_at|date:'DATE_FORMAT' }}</time></td>
                <th style="width:1%; white-space: nowrap;">{% translate "Flowering duration" %}</th>
                <td>
                    {% if growlog.flowering_days > 14 %}
                        {{ growlog.flowering_display }} ({% blocktranslate count n=growlog.flowering_days %}{{ n }} day{% plural %}{{ n }} days{% endblocktranslate %})
                    {% else %}
                        {% blocktranslate count n=growlog.flowering_days %}{{ n }} day{% plural %}{{ n }} days{% endblocktranslate %}
                    {% endif %}
                </td>
            </tr>
            {% with estimated_harvest=growlog.estimated_harvest_date %}
            {% if estimated_harvest %}
            <tr class="fit-content">
                <th style="width:1%; white-space: nowrap;">{% translate "Estimated Harvest Date" %}</th>
                <td>
                {% if estimated_harvest.0 == estimated_harvest.1 %}
                    {{ estimated_harvest.0|date:'DATE_FORMAT' }}
                {% else %}
                    {{ estimated_harvest.0|date:'DATE_FORMAT' }} - {{ estimated_harvest.1|date:'DATE_FORMAT' }}
                {% endif %}
                </td>
                <th style="width:1%; white-space: nowrap;">{% translate "Estimated Flowering duration" %}</th>
                <td>
                {% with growlog.estimated_flowering_duration as flowering_duration %}
                {% if flowering_duration %}
                    {% if flowering_duration.0 == flowering_duration.1 %}
                        {% blocktranslate count n=flowering_duration.0 %}{{ n }} day{% plural %}{{ n }} days{% endblocktranslate %}
                    {% else %}
                        {% blocktranslate count n=flowering_duration.0 %}{{ n }} day{% plural %}{{ n }} days{% endblocktranslate %} - {% blocktranslate count n=flowering_duration.1 %}{{ n }} day{% plural %}{{ n }} days{% endblocktranslate %}
                    {% endif %}
                {% else %}
                    ---
                {% endif %}
                {% endwith %}
                </td>
            </tr>
            {% endif %}
            {% endwith %}
            {% endif %}

            {% if growlog.harvested_at %}
            <tr>
                <th style="width:1%; white-space: nowrap;">{% translate "Harvested on" %}</th>
                <td><time datetime="{{ growlog.harvested_at|date:"c" }}">{{ growlog.harvested_at|date:'DATE_FORMAT' }}</time></td>
                <th style="width:1%; white-space: nowrap;"></th>
                <td></td>
            </tr>
            {% endif %}
            {% if growlog.finished_at %}
            <tr>
                <th style="width:1%; white-space: nowrap;">{% translate "Finished on" %}</th>
                <td><time datetime="{{ growlog.finished_at|date:"c" }}">{{ growlog.finished_at|date:'DATE_FORMAT' }}</time></td>
                <th style="width:1%; white-space: nowrap;"></th>
                <td></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<h2>{% translate "Strains" %}</h2>
<div id="growlog-strains">
{% include strains_template %}
</div>

{% if request.user == growlog.grower %}
<h2 id="personal-notes">{% translate "Personal Notes" %}</h2>
<div class="alert alert-warning" role="alert">
    {% translate "These notes are only visible to you!" %}
</div>
<div id="growlog-notes">{% include notes_template %}</div>

{% endif %}

<h2 id="description">{% translate "Description" %}</h2>
<div id="growlog-description">{% include description_template %}</div>

<h2 id="entries">{% translate "Entries" %}</h2>
{% if can_edit %}
<div class="mb-3">
    <p>
        <a
            href="{% url 'grow:growlog-entry-create' growlog_pk=growlog.id %}?gle_p={{ entries_paginator.current_page }}&gle_pgn={{ entries_paginator.paginate.by }}"
        >{% translate "Create new entry" %}</a>
    </p>
</div>
{% endif %}
<div id="growlog-entries">
    {% include entries_template with update_page_url=False hx_target="#growlog-entries" %}
</div>
{% endblock content %}
