{% load i18n grow %}
<div class="card mb-3">
    <div class="card-header"><div class="row">
        <div class="col-4">
                {% with "grow/utils/paginator"|grow_template as paginator_template %}
                {% include paginator_template with paginator=active_growlogs_paginator %}
                {% endwith %}
            </div>
        <div class="col-4 d-flex align-items-center">
            <h5 class="card-title mb-0 mx-auto">{% translate "Active grow logs" %}</h5>
        </div>
        <div class="col-4 d-flex justify-content-end text-end"></div>
    </div></div>
    <div class="card-body p-0">
        <table class="{% if use_bootstrap %}table table-hover mb-0{% endif %}">
            <thead>
                <tr class="{% if use_bootstrap %}table-success{% endif %}">
                    <th>{% translate "Name" %}</th>
                    <th>{% translate "Started at" %}</th>
                    <th>{% translate "Duration" %}</th>
                    <th>{% translate "Age" %}</th>
                    <th>{% translate "Flowering time" %}</th>
                    <th>{% translate "Strains" %}</th>
                </tr>
            </thead>
            <tbody class="{% if use_bootstrap %}table-group-divider{% endif %}">
            {% for growlog in active_growlogs_paginator.page %}
                <tr>
                    <td>
                        <a href="{% url 'grow:growlog-detail' pk=growlog.id %}">{{ growlog.name }}</a>
                    </td>
                    <td>{{ growlog.started_at|date }}</td>
                    <td>
                        {% if growlog.duration_days > 28 %}
                        {% blocktranslate count n=growlog.duration_weeks %}{{ n}} week{% plural %}{{ n}} weeks{% endblocktranslate %}
                        {% else %}
                        {% blocktranslate count n=growlog.duration_days %}{{ n}} day{% plural %}{{ n}} days{% endblocktranslate %}
                        {% endif %}
                    </td>
                    <td>
                        {% if growlog.days_grown > 28 %}
                        {% blocktranslate count n=growlog.weeks_grown %}{{ n}} week{% plural %}{{ n}} weeks{% endblocktranslate %}
                        {% else %}
                        {% blocktranslate count n=growlog.days_grown %}{{ n}} day{% plural %}{{ n}} days{% endblocktranslate %}
                        {% endif %}
                    </td>
                    <td>{% if growlog.flowering_days < 0 %}
                        ---
                        {% elif growlog.flowering_days > 28 %}
                        {% blocktranslate count n=growlog.flowering_weeks %}{{ n }} week{% plural %}{{ n }} weeks{% endblocktranslate %}
                        {% else %}
                        {% blocktranslate count n=growlog.flowering_days %}{{ n}} day{% plural %}{{ n}} days{% endblocktranslate %}
                        {% endif %}
                    </td>
                    <td>
                        <ul class="mx-0 my-0 px-0 py-0 list-unstyled">
                        {% for growlog_strain in growlog.growlog_strains.all %}
                            <li><a href="{% url 'grow:strain-detail' breeder_slug=growlog_strain.strain.breeder.slug slug=growlog_strain.strain.slug %}" class="link-success">{{ growlog_strain.strain.name }}</a></li>
                        {% empty %}
                            <li>{% translate "No strains added yet." %}</li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% empty %}
                <tr class="table-warning">
                    <td colspan="6">{% translate "No active grow logs found." %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>