{% load i18n %}
<table>
    <thead>
        <tr class="table-success">
            <th scope="col">
                <a href="#"
                   hx-get="{% url 'grow:hx-my-active-growlogs' %}?sort=name&ord={% if my_active_growlogs_sort == 'name' %}{% if my_active_growlogs_ordering == 'asc' %}desc{% else %}asc{% endif %}{% else %}asc{% endif %}"
                   hx-swap="innerHTML"
                   hx-target="{{ hx_target }}"
                >
                    {% translate "Growlog" %}
                    {% if my_active_growlogs_sort == 'name' %}
                        {% if my_active_growlogs_ordering == 'asc' %}
                            [ASC]
                        {% else %}
                            [DESC]
                        {% endif %}
                    {% endif %}
                </a>
            </th>
            <th scope="col">{% translate "Current stage" %}</th>
            <th scope="col">
                <a href="#"
                   hx-get="{% url 'grow:hx-my-active-growlogs' %}?sort=started_at&ord={% if my_active_growlogs_sort == 'started_at' %}{% if my_active_growlogs_ordering == 'asc' %}desc{% else %}asc{% endif %}{% else %}asc{% endif %}"
                   hx-swap="innerHTML"
                   hx-target="{{ hx_target }}"
                >
                    {% translate "Started" %}
                    {% if my_active_growlogs_sort == 'started_at' %}
                        {% if my_active_growlogs_ordering == 'asc' %}
                            [ASC]
                        {% else %}
                            [DESC]
                        {% endif %}
                    {% endif %}
            </th>
            <th scope="col">
                <a href="#"
                   hx-get="{% url 'grow:hx-my-active-growlogs' %}?sort=updated_at&ord={% if my_active_growlogs_sort == 'updated_at' %}{% if my_active_growlogs_ordering == 'asc' %}desc{% else %}asc{% endif %}{% else %}asc{% endif %}"
                   hx-swap="innerHTML"
                   hx-target="{{ hx_target }}"
                >
                    {% translate "Updated" %}
                    {% if my_active_growlogs_sort == 'updated_at' %}
                        {% if my_active_growlogs_ordering == 'asc' %}
                            [ASC]
                        {% else %}
                            [DESC]
                        {% endif %}
                    {% endif %}
                </a>
            </th>
            <th scope="col">
                <a href="#"
                   hx-get="{% url 'grow:hx-my-active-growlogs' %}?sort=flowering_time&ord={% if my_active_growlogs_sort == 'flowering_time' %}{% if my_active_growlogs_ordering == 'asc' %}desc{% else %}asc{% endif %}{% else %}asc{% endif %}"
                   hx-swap="innerHTML"
                   hx-target="{{ hx_target }}"
                >
                    {% translate "Flowering" %}
                    {% if my_active_growlogs_sort == 'flowering_time' %}
                        {% if my_active_growlogs_ordering == 'asc' %}
                            [ASC]
                        {% else %}
                            [DESC]
                        {% endif %}
                    {% endif %}
                </a>
            </th>
            <th scope="col">{% translate "Locations" %}</th>
            <th scope="col">{% translate "Strains" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for growlog in my_active_growlogs %}
        <tr>
            <td><a href="{% url 'grow:growlog-detail' growlog.id %}">{{ growlog.name }}</a></td>
            <td>{{ growlog.current_stage }}</td>
            <td>{{ growlog.started_at|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ growlog.updated_at|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{% if growlog.flowering_at %}{% blocktranslate count n=growlog.flowering_days %}{{ n }} day{% plural %}{{ n }} days{% endblocktranslate %}{% else %}---{% endif %}</td>
            <td>
                {% with growlog.locations as gl_locations%}
                {% if gl_locations %}
                <ul style="list-style-type:none; padding:0; margin:0;">
                    {% for location in gl_locations %}
                    <li>{{ location.name }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                ---
                {% endif %}
                {% endwith %}
            </td>
            <td>
                <ul style="list-style-type:none; padding-left:0; margin-left:0;">
                    {% for strain in growlog.growlog_strains.all %}
                    <li>
                        <a href="{% url 'grow:strain-detail' breeder_slug=strain.strain.breeder.slug slug=strain.strain.slug %}">
                            {{ strain.strain.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="6">{% translate "You don't have any grow logs yet. How about starting a new one?" %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if update_page_url %}
<script>
pageURL.update({
    '{% if urlvars.my_active_growlogs_sort %}{{ urlvars.my_active_growlogs_sort }}{% else %}myagl_sort{% endif %}': "{{ my_active_growlogs_sort }}",
    '{% if urlvars.my_active_growlogs_ordering %}{{ urlvars.my_active_growlogs_ordering }}{% else %}myagl_ordering{% endif %}': "{{ my_active_growlogs_ordering }}",
});
</script>
{% endif %}
