{% extends base_template %}
{% load i18n static widget_tweaks %}


{% block head_title %}{{ grow_head_title }}{% endblock %}
{% block subtitle %}{{ breeder.name }}{% endblock %}

{% block content %}


<div>
{% if allowed_to_edit %}<a href="{% url 'grow:breeder-create' %}">{% translate "Edit breeder" %}</a>{% endif %}
{% if allowed_to_translate %}<a href="{% url 'grow:breeder-translate' pk=breeder.pk %}">{% translate "Translate breeder" %}</a>{% endif %}
{% if allowed_to_delete %}<a href="{% url 'grow:breeder-delete' pk=breeder.pk %}">{% translate "Delete breeder" %}</a>{% endif %}
</div>

<h1>{{ breeder.name }}</h1>
<div>
    <div style="max-width:300px;float:left;margin-right:20px;" class="mb-3">
{% if breeder.has_logo %}
        <img style="max-width:100%;"
            alt="{% translate 'Breeder logo' %}" src="{{ breeder.logo }}"
        >
{% else %}
        <img style="max-width:100%;"
            alt="{% translate 'No breeder logo available' %}" src="{% static 'grow/img/hemp-leaf.jpg' %}"
        >
{% endif %}
</div>

<div>
    <p>
        <b>{% translate "Breeder Slug:" %}</b> {{ breeder.slug }}
        {% if breeder.created_by %}
        <div role="alert">
            {% blocktranslate with username=breeder.created_by.username date=breeder.created_at|date:"SHORT_DATE_FORMAT" %}Added by {{ username }} on {{ date }}.{% endblocktranslate %}
        </div>
        {% elif breeder.creator_name %}
        <div role="alert">
            {% blocktranslate with username=breeder.creator_name date=breeder.added_at|date:"SHORT_DATE_FORMAT" %}Added by {{ username }} on {{ date }}.{% endblocktranslate %}
        </div>
        {% else %}
        <div role="alert">
            {% blocktranslate with date=breeder.added_at|date:"SHORT_DATE_FORMAT" %}Added on {{ date }}.{% endblocktranslate %}
        </div>
        {% endif %}
        {% if translation and translation.user %}
        <div role="alert">
            {% blocktranslate with username=translation.user.username date=translation.updated_at|date:"SHORT_DATE_FORMAT" %}Translated by {{ username }} on {{ date }}.{% endblocktranslate %}
        </div>
        {% endif %}
    </p>
</div>

<p>
    {% blocktranslate with name=breeder.name count n_strains=breeder.strains.count %}There is one strain in the database for the breeder <i>{{ name }}</i>.{% plural %}There are {{ n_strains }} strains in the database for breeder <i>{{ name }}</i>.{% endblocktranslate%}
    {% blocktranslate with n_strains=breeder.strains_with_growlogs_count count n=breeder.strains_with_growlogs_count %}One strain appears in growlogs.{% plural %}{{ n_strains }} strains appear in growlogs.{% endblocktranslate %}
    {% blocktranslate with name=breeder.name count n=breeder.growlog_count %}A total of one growlog has been created for the strains of <i>{{ name }}</i>.{% plural %}A total of {{ n }} growlogs have been created for the strains of <i>{{ name }}</i>.{% endblocktranslate %}
</p>


    <p>
    {% if breeder_url %}
        <a href="{{ breeder_url }}" target="_blank">
            {% translate "Breeder's homepage" %}
        </a>
        {% if seedfinder_url %}
        <br>
        {% endif %}
        {% endif %}
    {% if seedfinder_url %}
         <a href="{{ seedfinder_url }}" target="_blank">
            {% translate "Breeder on SeedFinder.eu" %}
        </a>
    {% endif %}

    </p>
    <p>
    <a href="#strains" >
        {% translate "Jump to strains" %}
    </a>
    </p>
</div>

{% if breeder.has_description %}
<h2>{% translate  "Breeder information" %}</h2>
{{ breeder_description_html }}
{% endif %}

<h2 id="strains">{% translate "Strains" %}</h2>
<form method="post"
    hx-post="{% url 'grow:hx-strain-filter' breeder_pk=breeder.pk %}"
    hx-target="#strain-table-div"
    hx-swap="innerHTML"
    hx-trigger="keyup changed delay:500ms"
>
    {% csrf_token %}
    {% render_field filter_strains_form.search_query placeholder=filter_strains_form.search_query.label style="margin-bottom: 1rem;" %}
</form>

<div id="strain-table-div">
    {% with 'grow/breeder/hx/strains' as strains_template %}
        {% include strains_template %}
    {% endwith %}
</div>
{% endblock content %}
