{% extends base_template %}

{% load i18n widget_tweaks %}

{% block title %}{{ grow_site_title }} <span class="{% if use_bootstrap %}fs-2{% endif %}">{% translate "Breeder translation" %}</span>{% endblock title %}
{% block head_title %}{{ grow_head_title }} - {% translate "Breeder translation" %}{% endblock head_title %}
{% block head_description %}{% translate "Translate breeder information into another language." %}{% endblock head_description %}

{% block content %}
<h1>{% translate "Breeder translation" %}</h1>
<p>
{% blocktranslate with name=breeder.name %}Translate the breeder <i>{{ name }}</i> into another language.{% endblocktranslate %}
</p>

<form method="post" id="translation-form">
    <p>
            {% url "grow:hx-breeder-translation" pk=breeder.pk  as hx_translation_url %}
            <label for="{{ form.language_code.id_for_label }}">{{ form.language_code.label }}</label>
            {% render_field form.language_code placeholder=form.language_code.label %}


    </p>
<div id="form-fields">
{% csrf_token %}
<p>
    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
    {% render_field form.name %}
</p>
<p>
    <label for="{{ form.breeder_url.id_for_label }}">{{ form.breeder_url.label }}</label>
    {% render_field form.breeder_url %}
</p>
<p>
    <label for="{{ form.seedfinder_url.id_for_label }}">{{ form.seedfinder_url.label }}</label>
    {% render_field form.seedfinder_url %}
</p>
<p>
    <label for="{{ form.description_type_data.id_for_label }}">{{ form.description_type_data.label }}</label>
    {% render_field form.description_type_data %}
</p>
<p>
    <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
    {% render_field form.description %}
</p>
</div>

<div class="form-buttons" id="form-buttons">
    {% block form_buttons %}
    {% endblock %}
</div>
</form>

{% endblock content %}

{% block body_scripts %}
<script>setup();</script>
{% endblock body_scripts %}

{% block scripts %}
<script>
    function setup() {
        const langCode = document.getElementById("id_language_code");
        langCode.addEventListener("change", translationLanguageChanged);
        console.log("Setup complete");
    }

    function translationLanguageChanged() {
        var langCode = document.getElementById("{{ form.language_code.id_for_label }}");
        const hxUrl = "{% url 'grow:hx-breeder-translation' pk=breeder.pk language_code='__language_code__' %}".replace("__language_code__", langCode.value);
        langCode.setAttribute('hx-get', hxUrl);
        langCode.setAttribute('hx-target', '#form-fields');
        langCode.setAttribute('hx-swap', 'innerHTML');
        langCode.setAttribute('hx-trigger', 'click');
        htmx.process( langCode );
        htmx.on(langCode, 'click', translationLanguageChanged);
        langCode.click();
        htmx.off(langCode, 'click', translationLanguageChanged);
    }
</script>
{% endblock scripts%}
