{% extends form_template %}
{% load i18n %}

{% block head_title %}{{ grow_head_title }}{% endblock %}
{% block title %}{{ grow_site_title }}: {% translate "Update breeder" %}{% endblock %}
{% block page_title%}{% blocktranslate with name=breeder.name %} "Update breeder <i>{{ name }}</i>"{% endblocktranslate %}{% endblock %}

{% block form_buttons %}
    <button type="submit">{% translate "Save changes" %}</button>
    <button type="button"
        onclick="location.href='{% url 'grow:breeder-overview' %}'"
    >
        {% translate "Back to breeder overview" %}
    </button>
    <button type="button"
        onclick="location.href='{% url 'grow:breeder-detail' slug=breeder.slug %}'"
    >
        {% translate "Back to breeder detail" %}
    </button>
{% endblock %}
