{% extends base_template %}
{% load static i18n tz grow %}

{% block subtitle %}{{ strain.breeder.name }} - {{ strain.name }}{% endblock %}
{% block head_title %}{{ grow_head_title }}{% endblock %}

{% block content %}


<h1>{{ strain.breeder.name }} - {{ strain.name }}</h1>
<div>
    {% if allowed_to_edit %}<a href="{% url 'grow:strain-update' pk=strain.pk %}">[{% translate "Edit strain" %}]</a>{% endif %}
    {% if allowed_to_translate %}<a href="{% url 'grow:strain-translate' pk=strain.pk %}">[{% translate "Translate strain" %}]</a>{% endif %}
    {% if allowed_to_delete %}<a href="{% url 'grow:strain-delete' pk=strain.pk %}">[{% translate "Delete strain" %}]</a>{% endif %}
</div>

<div class="row mb-3">
    <div style="width:40%;float:left;">
{% if strain.has_logo %}
    <img class="{% if use_bootstrap %}img-fluid rounded{% endif %}"
        src="{{ strain.logo }}"
        style="max-width:100%;"
    >
{% else %}
    <img class="{% if use_bootstrap %}img-fluid rounded {% endif %}"
        src="{% static 'grow/images/hemp-leaf.jpg' %}"
        style="max-width:100%;"
    >
{% endif %}
    </div>
    <div style="width:60%;float:left;">
        <div role="alert">
        <b>{% translate "Breeder Slug:" %}</b> {{ strain.breeder.slug }}<br>
        <b>{% translate "Strain Slug:" %}</b> {{ strain.slug }}
        </div>
    <div role="alert">
    {% if strain.created_by %}
        {% blocktranslate with username=strain.created_by.username date=strain.added_at|date:"SHORT_DATE_FORMAT" %}Strain added by {{ username }} on {{ date }}.{% endblocktranslate %}
    {% elif strain.creator_name %}
        {% blocktranslate with username=strain.creator_name date=strain.added_at|date:"SHORT_DATE_FORMAT" %}Strain added by {{ username }} on {{ date }}.{% endblocktranslate %}
    {% else %}
        {% blocktranslate with date=strain.created_at|date:"SHORT_DATE_FORMAT" %}Strain added on {{ date }}.{% endblocktranslate %}
    {% endif %}
    </div>
    {% if translation %}
    {% if translation.user %}
    <div role="alert">
        {% blocktranslate with username=translation.user.username date=translation.created_at|date:"SHORT_DATE_FORMAT" %}This is a translation added by {{ username }} on {{ date }}.{% endblocktranslate %}
    </div>
    {% elif translation.translator_name %}
    <div role="alert">
        {% blocktranslate with username=translation.translator_name date=translation.created_at|date:"SHORT_DATE_FORMAT" %}This is a translation added by {{ username }} on {{ date }}.{% endblocktranslate %}
    </div>
    {% else %}
    <div role="alert">
        {% blocktranslate with date=translation.created_at|date:"SHORT_DATE_FORMAT" %}This is a translation added on {{ date }}.{% endblocktranslate %}
    </div>
    {% endif %}
    {% endif %}
    <p>
        <ul>
            <li>
                <span class="fw-bold">{% translate "Flowering time:" %}</span>
                {% if strain.flowering_time_days == 0 %}
                {% translate "Unknown" %}
                {% else %}
                {% blocktranslate with ftd=strain.flowering_time_days count n=strain.flowering_time_days %}{{ ftd }} day{% plural %}{{ ftd }} days{% endblocktranslate %}
                {% blocktranslate with ftw=strain.flowering_time_weeks count n=strain.flowering_time_weeks %}({{ ftw }} week){% plural %}({{ ftw }} weeks){% endblocktranslate %}
                {% endif %}
            </li>
            <li>
                <span class="fw-bold">{% translate "Genotype:"%}</span>
                {{ strain.genotype.name }}
            <li>
                <span class="fw-bold">{% translate "Is this is a autoflowering strain?" %}</span>
                {% if strain.is_automatic %}{% translate "Yes" %}{% else %}{% translate "No" %}{% endif %}
            </li>
            <li>
                <span class="fw-bold">{% translate "Can one get regular seeds?" %}</span>
                {% if strain.is_regular %}{% translate "Yes" %}{% else %}{% translate "No" %}{% endif %}
            </li>
            <li>
                <span class="fw-bold">{% translate "Can one get feminized seeds?" %}</span>
                {% if strain.is_feminized %}{% translate "Yes" %}{% else %}{% translate "No" %}{% endif %}
            </li>
            <li>
                <span class="fw-bold">{% translate "Is this a clone-only strain?" %}</span>
                {% if not strain.is_feminized and not strain.is_regular %}
                    {% translate "Yes" %}
                {% else %}
                    {% translate "No" %}
                {% endif %}
            </li>
            <li>
                <span class="fw-bold">{% translate "Is this strain still available?" %}</span>
                {% if strain.is_discontinued %}{% translate "No" %}{% else %}{% translate "Yes" %}{% endif %}
            </li>
        </ul>
    </p>

    <p>
        {% if strain_url %}
        <a  href="{{ strain_url }}" target="_blank" rel="noopener noreferrer">
            {% translate "Strain Homepage" %}
        </a>
        {% if seedfinder_url %}<br>{% endif %}
        {% endif %}
        {% if seedfinder_url %}
        <a href="{{ seedfinder_url }}" target="_blank" rel="noopener noreferrer">
            {% translate "View on SeedFinder.eu" %}</a>
        {% endif %}
    </p>
    <p>
        <a href="#pictures">
            {% translate "Jump to pictures" %}
        </a><br>
        {% if strain.is_regular or strain.is_feminized %}
        <a href="#seeds-in-stock-table">
            {% translate "Jump to seeds in stock" %}
        </a><br>
        {% endif %}
        <a href="#growlogs">
            {% translate "Jump to growlogs" %}
        </a><br>
        <a href="#comments">
            {% translate "Jump to comments" %}
        </a>
    </p>
</div> {# col-md-7 #}
</div>

{% if description_html %}
<h2>{% translate "Strain description" %}</h2>
{{ description_html }}
{% endif %}

{% if request.user.is_authenticated %}
{% if strain.is_regular or strain.is_feminized %}
<h2>{% translate "Seeds in stock" %}</h2>
<div id="seeds-in-stock-div">
<table id="seeds-in-stock-table" width="100%">
    <thead>
        <tr>
            <th>{% translate "Seed type"%}</th>
            <th>{% translate "Quantity" %}</th>
            <th>{% translate "Purchased on" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="{% if use_bootstrap %}table-group-divider{% endif %}">
    {% if strain.is_regular %}
        <tr>
            <td>{% translate "Regular seeds" %}</td>
            <td>
                {% blocktranslate count n=regular_seeds_in_stock %}{{ n }} seed{% plural %}{{ n }} seeds{% endblocktranslate %}
            </td>
            <td>
                {% if regular_seeds_purchased_on %}
                    {{ regular_seeds_purchased_on|localtime|date:"H:i" }}
                {% else %}
                    {% translate "Unknown" %}
                {% endif %}
            </td>
            <td>
                <a href="{% url 'grow:strain-add-to-stock' strain=strain.pk feminized=0 %}">
                    {% translate "add seeds" %}
                </a>
                <a href="{% url 'grow:strain-remove-from-stock' strain=strain.pk feminized=0 %}">
                    {% translate "remove seeds" %}
                </a>
            </td>
        </tr>
    {% endif %}
    {% if strain.is_feminized %}
        <tr>
            <td>{% translate "Feminized seeds" %}</td>
            <td>
                {% blocktranslate count n=feminized_seeds_in_stock %}{{ n }} seed{% plural %}{{ n }} seeds{% endblocktranslate %}
            </td>
            <td>
                {% if feminized_seeds_purchased_on %}
                    {{ feminized_seeds_purchased_on|date }}
                {% else %}
                    {% translate "Unknown" %}
                {% endif %}
            </td>
            <td>
                    <a href="{% url 'grow:strain-add-to-stock' strain=strain.pk feminized=1 %}">
                        {% translate "add seeds" %}
                    </a>

                <a href="{% url 'grow:strain-remove-from-stock' strain=strain.pk feminized=1 %}">
                    {% translate "remove seeds" %}
                </a>

            </td>
        </tr>
    {% endif %}
    </tbody>
    <tfoot class="{% if use_bootstrap %}table-group-divider{% endif %}">
        <tr>
            <th>{% translate "Total seeds" %}</th>
            <th colspan=3 class="{% if use_bootstrap %}text-end{% endif %}">
                {% blocktranslate count n=total_seeds_in_stock%}{{ n }} seed{% plural %}{{ n }} seeds{% endblocktranslate %}
            </th>
        </tr>
    </tfoot>
</table>
</div>
{% endif %}{# strain has seeds #}
{% endif %}{# request.user.is_authenticated #}

<h2 id="pictures">{% translate "Pictures" %}</h2>
<p>
    <a href="{% url 'grow:strain-image-upload' strain_pk=strain.pk %}">{% translate "Upload picture" %}</a>
    <a href="{% url 'grow:strain-gallery' strain_pk=strain.pk %}">{% translate "View gallery" %}</a>
</p>
{% if strain_images %}
<div style="display:flex;flex-wrap:wrap;gap:1rem;">
    {% for picture in strain_images %}
    <div style="width:33%;margin: 1rem 1rem 1rem 1rem;">
        <div>
            <img src="{{ picture.image.url }}" class="card-img-top {% if use_bootstrap %}img-fluid{% endif %}" alt="{{ picture.caption }}">
            {% if picture.caption %}
            <div>
                <div>
                {% if picture.description %}
                    <p>{{ picture.description }}</p>
                {% elif picture.caption %}
                    <p>{{ picture.caption }}</p>
                {% else %}
                    <p>
                        {{ strain.breeder.locale_name }} - {{ strain.locale_name }}
                    </p>
                {% endif %}
                    <p>By <i>{{ picture.uploader.username }}</i>
                </div>
            </div>
            {% endif %}
        </div>
    </div >
    {% endfor %}
</div>
{% else %}
<p>
{% blocktranslate %}There are currently no pictures for this strain. You could upload pictures of your grow to show others how this strain looks like during growth and flowering.{% endblocktranslate %}
</p>
{% endif %}

{% if request.user.is_authenticated %}
<h2 id="my-growlogs">{% translate "My Growlogs" %}</h2>
<p>
    {% blocktranslate %}Here you can see all growlogs in which you have grown this strain. You can click on a growlog to view details about that growlog and your grow there.{% endblocktranslate %}
</p>
<div id="my-growlogs-info">
    {% include 'grow/strain/strain/hx/my_growlogs'|grow_template with paginator=my_growlogs_paginator hx_target="#my-growlogs-info" %}
</div>

{% endif %}


<h2 id="growlogs">Growlogs</h2>
<p>
    {% blocktranslate with strain_name=strain.name %}Here you can see all growlogs for <i>{{ strain_name }}</i> that have been shared by other growers. You can click on a growlog to view details about that growlog and the grow there.{% endblocktranslate %}
</p>
<div id="growlogs-info">
    {% include  'grow/strain/strain/hx/growlogs'|grow_template with paginator=growlogs_paginator hx_target="#growlogs-info" %}
</div>

<h2 id="comments">{% translate "Comments" %}</h2>
    <button onclick="location.href='{% url 'grow:strain-comment-add' strain_pk=strain.pk %}';" class="mb-3">
        {% translate "Add comment" %}
    </button>

<div id="user-comments-div">
    {% for comment in comments %}
    <div>
        <div>
            <span>{{ comment.user.username }}</span>
            &nbsp;|&nbsp;
            <span>
                {{ comment.created_at|date:"SHORT_DATETIME_FORMAT" }}
            </span>
            <div>
        {% if request.user.pk == comment.user.pk %}

                <a href="{% url 'grow:strain-comment-update' pk=comment.pk %}">{% translate "Edit comment" %}</a>
                <a href="#{#{% url 'grow:strain-comment-delete' pk=comment.pk %}#}">{% translate "Delete comment" %}</a>
        {% endif %} {# request.user.pk == comment.user.pk #}
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">{{ comment.text_html }}</p>
        </div>
    </div>
    {% empty %}
    <p>
    {% translate "There are currently no comments for this strain. Be the first to add one!" %}
    </p>
    {% endfor %}
</div>
{% endblock content %}
