{% load i18n widget_tweaks %}
<form method="POST" class="mb-3" id="passwordForm">
    <fieldset class="p-3 border rounded">
        <legend>{% translate "Change password" %}</legend>
        <div class="form-floating mb-3">
            {% render_field form.password class="form-control" placeholder=form.password.label %}
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
        </div>
        <div class="form-floating mb-3">
            {% render_field form.new_password1 class="form-control" palceholder=form.new_password1.laebl %}
            <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
        </div>
        <div class="form-floating mb-3">
            {% render_field form.new_password2 class="form-control" %}
            <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
        </div>

        <div class="text-end">
            <button type="submit"
                class="btn btn-success"
                hx-post="{% url 'core:hx_account' %}"
                hx-swap="outerHTML"
                hx-target="#passwordForm"
            ><i class="bi bi-person-check me-2"></i>{% translate "Update my password" %}</button>
        </div>
    </fieldset>
</form>