{% load i18n %}
<p>{{ labels }}</p>
<table style="width:100%;" id="breeder-overview-table">
    <thead>
        <tr>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Strains" %}</th>
            <th>{% translate "Growlogs" %}</th>
            <th>
                {% if allowed_to_add_breeder %}
                <a href="{% url 'grow:breeder-create' %}">{% translate "Add breeder" %}</a>
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
    {% for breeder, breeder_id, breeder_label in breeders_id %}
        <tr>
            <td>
                <a href="{% url "grow:breeder-detail" slug=breeder.slug %}"
                    id="{{ breeder_id }}">{{ breeder.name }}</a>
            </td>
            <td>{{ breeder.strain_count }}</td>
            <td>{{ breeder.growlog_count }}</td>
            <td>
                {% if breeder.id in breeders_allowed_to_edit %}
                <a href="{% url 'grow:breeder-update' pk=breeder.pk %}">
                    {% translate "Edit" %}
                </a>
                {% endif %}
                {% if breeder.id in breeders_allowed_to_delete %}
                <a href="{% url 'grow:breeder-update' pk=breeder.pk %}">
                    {% translate "Delete" %}
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    htmx.process(document.getElementById('breeder-overview-table'));
    /* Initialize Bootstrap tooltips for newly added elements */
    document.querySelectorAll('.tooltip-item').forEach(function (el) {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('.tooltip-item'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });
</script>