{% load i18n widget_tweaks %}
{% csrf_token %}
<p>
    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
    {% render_field form.name %}
</p>
<p>
    <label for="{{ form.breeder_url.id_for_label }}">{{ form.breeder_url.label }}</label>
    {% render_field form.breeder_url %}
</p>
<p>
    <label for="{{ form.seedfinder_url.id_for_label }}">{{ form.seedfinder_url.label }}</label>
    {% render_field form.seedfinder_url %}
</p>
<p>
    <label for="{{ form.description_type_data.id_for_label }}" class="visually-hidden">{{ form.description_type_data.label }}</label>
    {% render_field form.description_type_data %}
</p>
<p>
    <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
    {% render_field form.description %}
</p>
